{"openapi":"3.0.1","info":{"title":"Exstream Design","version":"v1"},"servers":[{"url":"https://vm-exstreamna1.eimdemo.com/design","description":"service frontend url"}],"paths":{"/api/v1/settings":{"get":{"tags":["settings-controller"],"operationId":"getAllSettings","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponseSettingsObj"}}}}}},"put":{"tags":["settings-controller"],"operationId":"createSetting","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsObj"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseSettingsObj"}}}}}},"post":{"tags":["settings-controller"],"operationId":"createSetting_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsObj"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseSettingsObj"}}}}}}},"/api/v1/settings/multiple":{"put":{"tags":["settings-controller"],"operationId":"createMultipleSettings","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SettingsObj"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponseSettingsObj"}}}}}},"post":{"tags":["settings-controller"],"operationId":"createMultipleSettings_1","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SettingsObj"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponseSettingsObj"}}}}}}},"/api/v1/themes/{domain}/{themeId}":{"get":{"tags":["theme-controller"],"operationId":"getTheme","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"themeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"version","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":-1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseTheme"}}}}}},"put":{"tags":["theme-controller"],"operationId":"updateTheme","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"themeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"requireLock","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Theme"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}},"post":{"tags":["theme-controller"],"operationId":"getThemeWithOptions","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"themeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"version","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":-1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostGetThemeWithOptionsPayload"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseTheme"}}}}}}},"/api/v1/themes/{domain}/{themeId}/template":{"put":{"tags":["theme-controller"],"summary":"Update the specified theme to be based on the latest approved version of its template.","operationId":"updateTemplate","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"themeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}},"/api/v1/tenants/{tenantId}/schema":{"put":{"tags":["tenant-admin-controller"],"operationId":"updateTenantSchema","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}}},"/api/v1/tenants/updateTenant":{"put":{"tags":["tenant-admin-controller"],"operationId":"updateTenant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTenantBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}}},"/api/v1/tenants/all/schema":{"put":{"tags":["tenant-admin-controller"],"operationId":"updateTenantSchemas","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponseTenant"}}}}}}},"/api/v1/run-definitions/{domain}/engine/{id}":{"put":{"tags":["engine-run-def-controller"],"operationId":"setEngineAsDefault","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceVersion"}}}}}}},"/api/v1/roles/{id}":{"put":{"tags":["role-controller"],"operationId":"updateRole","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Role"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseRole"}}}}}},"delete":{"tags":["role-controller"],"operationId":"deleteRole","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}},"/api/v1/resources/{domain}/{id}":{"get":{"tags":["resources-controller"],"operationId":"getResource","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"version","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"expand","in":"query","required":false,"schema":{"type":"string"}},{"name":"checkIfLatestVersion","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"state","in":"query","required":false,"schema":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceVersion"}}}}}},"put":{"tags":["resources-controller"],"operationId":"updateResource","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonNode"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceVersion"}}}}}},"delete":{"tags":["resources-controller"],"operationId":"deleteResource","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"version","in":"query","description":"Valid values are LATEST, ALL, or an actual version number. If not specified, will use LATEST.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}},"/api/v1/resources/{domain}/{id}/state":{"put":{"tags":["resources-controller"],"operationId":"updateState","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceVersion"}}}}}}},"/api/v1/resources/{domain}/{id}/show":{"put":{"tags":["resources-controller"],"operationId":"showResource","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResource"}}}}}}},"/api/v1/resources/{domain}/{id}/revert/{oldVersion}":{"put":{"tags":["resources-controller"],"description":"Replace the content of the current draft, or create a new draft with content of specified version. Copies links as well.","operationId":"revertToOldVersion","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"oldVersion","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentRequestBody"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceVersion"}}}}}}},"/api/v1/resources/{domain}/{id}/promote":{"put":{"tags":["resources-controller"],"operationId":"promote","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"version","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":-1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceVersion"}}}}}}},"/api/v1/resources/{domain}/{id}/hide":{"put":{"tags":["resources-controller"],"operationId":"hideResource","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResource"}}}}}}},"/api/v1/resources/{domain}/{id}/demote":{"put":{"tags":["resources-controller"],"operationId":"demote","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"version","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":-1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceVersion"}}}}}}},"/api/v1/resources/{domain}/{id}/content":{"get":{"tags":["resources-controller"],"operationId":"getContent","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"version","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"state","in":"query","required":false,"schema":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}}}},"put":{"tags":["resources-controller"],"description":"Expects a form part in the request body with the name \"file\" and will use the contents of that file to update the specified resource.","operationId":"updateContentViaFile","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FileBody"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceVersion"}}}}}}},"/api/v1/resources/{domain}/{id}/content/{type}":{"get":{"tags":["resources-controller"],"operationId":"getResourceContent","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["thumbnail","manifest","old"]}},{"name":"version","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"state","in":"query","required":false,"schema":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}},"image/png":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}},"text/xml":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}}}},"put":{"tags":["resources-controller"],"description":"Expects a form part in the request body with the name \"file\" and will use the contents of that file to update the specified resource.","operationId":"updateContentOfTypeViaFile","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["thumbnail","manifest","old"]}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FileBody"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceVersion"}}}}}}},"/api/v1/resources/{domain}/state":{"put":{"tags":["resources-controller"],"operationId":"updateStates","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkWorkflowRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseBulkWorkflowStateChangeResponse"}}}}}}},"/api/v1/resource-categories":{"get":{"tags":["resource-category-controller"],"operationId":"getResourceCategories","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseResourceCategory"}}}}}},"put":{"tags":["resource-category-controller"],"operationId":"updateResourceCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceCategory"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceCategory"}}}}}}},"/api/v1/realtime-services":{"get":{"tags":["realtime-services-controller"],"summary":"Gets a list of all realtime services","operationId":"getAll","parameters":[{"name":"domainId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseRealtimeService"}}}}}},"put":{"tags":["realtime-services-controller"],"summary":"Update an existing realtime service","operationId":"update","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RealtimeService"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseRealtimeService"}}}}}},"post":{"tags":["realtime-services-controller"],"summary":"Add a new realtime service","operationId":"add","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RealtimeService"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseRealtimeService"}}}}}}},"/api/v1/domains/{id}":{"put":{"tags":["domain-controller"],"operationId":"updateDomain","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonNode"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseDomain"}}}}}}},"/api/v1/dictionaries/{languageCode}":{"get":{"tags":["dictionary-controller"],"operationId":"getDictionary","parameters":[{"name":"languageCode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseDictionary"}}}}}},"put":{"tags":["dictionary-controller"],"operationId":"updateDictionaryFiles","parameters":[{"name":"languageCode","in":"path","required":true,"schema":{"type":"string"}},{"name":"locale","in":"query","description":"The dictionary's locale","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/DictionaryBody"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseDictionary"}}}}}},"delete":{"tags":["dictionary-controller"],"operationId":"deleteDictionary","parameters":[{"name":"languageCode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}},"/api/v1/user-profiles/{domain}/recent":{"post":{"tags":["user-profile-controller"],"operationId":"addRecent","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavedResourceInput"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SavedResource"}}}}}}},"/api/v1/user-profiles/{domain}/favorites":{"post":{"tags":["user-profile-controller"],"description":"Marks the given list of resources as favorite for the current user.","operationId":"addFavorites","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FavoriteResourcesInput"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseBulkFavoriteResponse"}}}}}},"delete":{"tags":["user-profile-controller"],"description":"Removes the given list of resources from the favorites.","operationId":"deleteFavorites","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FavoriteResourcesInput"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseBulkUnfavoriteResponse"}}}}}}},"/api/v1/user-profiles/{domain}/favorite":{"post":{"tags":["user-profile-controller"],"operationId":"addFavorite","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavedResourceInput"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SavedResource"}}}}}},"delete":{"tags":["user-profile-controller"],"operationId":"deleteFavorite","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SavedResourceInput"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/themes/{domain}":{"post":{"tags":["theme-controller"],"operationId":"createTheme","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateThemeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceVersion"}}}}}}},"/api/v1/tenants/{tenantId}":{"get":{"tags":["tenant-admin-controller"],"operationId":"getTenant","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}},"post":{"tags":["tenant-admin-controller"],"operationId":"createTenantSchema","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"maxLength":40,"minLength":1,"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}}},"/api/v1/tenants/addTenant":{"post":{"tags":["tenant-admin-controller"],"operationId":"createTenantWithExistingSchema","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTenantBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}}},"/api/v1/secrets/rollover":{"post":{"tags":["secrets-controller"],"operationId":"rolloverKeys","parameters":[{"name":"oldKeyId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}}}}},"/api/v1/secrets/migrateVault":{"post":{"tags":["secrets-controller"],"summary":"Migrate secrets to vault.","operationId":"migrateVault","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/api/v1/search/indexAll/{tenantId}":{"post":{"tags":["search-controller"],"operationId":"indexResources","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/search/create/{tenantId}":{"post":{"tags":["search-controller"],"operationId":"create","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseSolrCollection"}}}}}}},"/api/v1/run-definitions/{domain}/template/{templateId}":{"post":{"tags":["engine-run-def-controller"],"operationId":"create_1","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"templateId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RunDef"}}}}}}},"/api/v1/roles":{"get":{"tags":["role-controller"],"operationId":"getRoles","parameters":[{"name":"filter.searchString","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter.caseSensitive","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.wholeWord","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"offset","in":"query","description":"For pagination, fetch entities after this many","required":false,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"count","in":"query","description":"For pagination, the number of entities per page","required":false,"schema":{"type":"integer","format":"int32"},"example":1000}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseRole"}}}}}},"post":{"tags":["role-controller"],"operationId":"createRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Role"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseRole"}}}}}}},"/api/v1/role-permissions":{"get":{"tags":["role-permissions-controller"],"operationId":"getAllPermissions","parameters":[{"name":"roleName","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseRolePermissions"}}}}}},"post":{"tags":["role-permissions-controller"],"operationId":"createRole_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RolePermissions"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseRolePermissions"}}}}}}},"/api/v1/resources/{domain}":{"get":{"tags":["resources-controller"],"operationId":"getResources","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter.ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"filter.excludedIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"filter.types","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}}},{"name":"filter.excludedTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}}},{"name":"filter.name","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter.description","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter.createdBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter.lastModifiedBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter.createdDateStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.createdDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.lastModifiedDateStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.lastModifiedDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.searchString","in":"query","description":"This is equivalent to searching where the name OR the description is LIKE this value","required":false,"schema":{"type":"string"}},{"name":"filter.caseSensitive","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.wholeWord","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.resourcePackId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"filter.systemResource","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.hidden","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.hasApprovedVersion","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.standardVariantId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"filter.useEffectiveDate","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.effectiveDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.categories","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filter.categoryObjects","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceCategory"}}},{"name":"filter.vfilter_lastModifiedDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.domainId","in":"query","description":"only include resources in this domain","required":false,"schema":{"type":"string"}},{"name":"filter.latestVersion","in":"query","description":"only include the latest version of objects","required":false,"schema":{"type":"boolean"}},{"name":"filter.locked","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.states","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}}},{"name":"filter.overrideIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"filter.overrideStates","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}}},{"name":"advancedFilter","in":"query","required":false,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"For pagination, fetch entities after this many","required":false,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"count","in":"query","description":"For pagination, the number of entities per page","required":false,"schema":{"type":"integer","format":"int32"},"example":1000},{"name":"fetchDomains","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"fetchPermissions","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"fetchCategories","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"fetchVariants","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"fetchApproval","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"expand","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseResourceVersion"}}}}}},"post":{"tags":["resources-controller"],"operationId":"createResource","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"Content-Type","in":"header","required":true,"schema":{"type":"string"}},{"name":"contentMimeType","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceVersion"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceVersion"}}}}}}},"/api/v1/resources/{domain}/{id}/lock":{"post":{"tags":["resources-controller"],"operationId":"lockResource","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"version","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceVersion"}}}}}},"delete":{"tags":["resources-controller"],"operationId":"unlockResource","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"version","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"force","in":"query","description":"When set to true, this will break a lock held by another user if the current user is a tenant admin.","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceVersion"}}}}}}},"/api/v1/resources/{domain}/filter":{"post":{"tags":["resources-controller"],"operationId":"getResourcesFilterBody","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter.ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"filter.excludedIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"filter.types","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}}},{"name":"filter.excludedTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}}},{"name":"filter.name","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter.description","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter.createdBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter.lastModifiedBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter.createdDateStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.createdDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.lastModifiedDateStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.lastModifiedDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.searchString","in":"query","description":"This is equivalent to searching where the name OR the description is LIKE this value","required":false,"schema":{"type":"string"}},{"name":"filter.caseSensitive","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.wholeWord","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.resourcePackId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"filter.systemResource","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.hidden","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.hasApprovedVersion","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.standardVariantId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"filter.useEffectiveDate","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.effectiveDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.categories","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filter.categoryObjects","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceCategory"}}},{"name":"filter.vfilter_lastModifiedDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.domainId","in":"query","description":"only include resources in this domain","required":false,"schema":{"type":"string"}},{"name":"filter.latestVersion","in":"query","description":"only include the latest version of objects","required":false,"schema":{"type":"boolean"}},{"name":"filter.locked","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.states","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}}},{"name":"filter.overrideIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"filter.overrideStates","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}}},{"name":"advancedFilter","in":"query","required":false,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"For pagination, fetch entities after this many","required":false,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"count","in":"query","description":"For pagination, the number of entities per page","required":false,"schema":{"type":"integer","format":"int32"},"example":1000},{"name":"fetchDomains","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"fetchPermissions","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"fetchCategories","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"fetchVariants","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"fetchApproval","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"expand","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceFilter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseResourceVersion"}}}}}}},"/api/v1/resources/{domain}/content":{"post":{"tags":["resources-controller"],"operationId":"createResourceFromFile","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"query","description":"The name of the resource to create.","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"The type of resource to create.","required":true,"schema":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}},{"name":"subtype","in":"query","description":"The subtype of resource to create. Appears in metadata.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FileBody"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceVersion"}}}}}}},"/api/v1/resources/{domain}/Etag/Descriptors":{"post":{"tags":["resources-controller"],"operationId":"resourceListEtags","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EtagDescriptorRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EtagDescriptorResponse"}}}}}}},"/api/v1/resource-categories/{name}":{"post":{"tags":["resource-category-controller"],"operationId":"createResourceCategory","parameters":[{"name":"name","in":"path","required":true,"schema":{"maxLength":255,"minLength":1,"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceCategory"}}}}}}},"/api/v1/pdf/{domain}/{id}/content/thumbnail":{"post":{"tags":["pdf-controller"],"description":"Expects a resource id , resource content type and version.","operationId":"createThumbnailContentForResource","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"version","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceVersion"}}}}}}},"/api/v1/package/{domain}/root/{id}":{"get":{"tags":["package-controller"],"operationId":"getPackage","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"version","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"latestVersions","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK"}}},"post":{"tags":["package-controller"],"operationId":"getPackageWithPayload","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"version","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"latestVersions","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PackageOptions"}}}},"responses":{"200":{"description":"OK"}}}},"/api/v1/package/{domain}/deployment":{"post":{"tags":["package-controller"],"description":"Handle a multi-part form request to deploy packages and their associated resources","operationId":"packageDeploymentUpload","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"resourcePackId","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"templateId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"packageId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/PackageBody"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseResourceVersion"}}}}}}},"/api/v1/package/{domain}/deploySubPub":{"post":{"tags":["package-controller"],"description":"Handle a multi-part form request to deploy packages and their associated resources","operationId":"subPackageDeploymentUpload","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"packageId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"parentPackageId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/PackageBody"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseResourceVersion"}}}}}}},"/api/v1/otmm":{"get":{"tags":["otmm-controller"],"operationId":"getSettings","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OtmmSetting"}}}}}},"post":{"tags":["otmm-controller"],"operationId":"setSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtmmSetting"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["otmm-controller"],"operationId":"delete_2","responses":{"200":{"description":"OK"}}}},"/api/v1/links/{domain}":{"get":{"tags":["links-controller"],"operationId":"getLinks","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkSubjectId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"linkSubjectVersion","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"linkObjectId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"linkDepth","in":"query","description":"Optionally specify the maximum depth for a recursive traversal of a link tree.","required":false,"schema":{"type":"integer","format":"int32"},"example":1000},{"name":"filter.ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"filter.excludedIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"filter.types","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}}},{"name":"filter.excludedTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}}},{"name":"filter.name","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter.description","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter.createdBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter.lastModifiedBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter.createdDateStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.createdDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.lastModifiedDateStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.lastModifiedDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.searchString","in":"query","description":"This is equivalent to searching where the name OR the description is LIKE this value","required":false,"schema":{"type":"string"}},{"name":"filter.caseSensitive","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.wholeWord","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.resourcePackId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"filter.systemResource","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.hidden","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.hasApprovedVersion","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.standardVariantId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"filter.useEffectiveDate","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.effectiveDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.categories","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filter.categoryObjects","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceCategory"}}},{"name":"filter.vfilter_lastModifiedDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.domainId","in":"query","description":"only include resources in this domain","required":false,"schema":{"type":"string"}},{"name":"filter.latestVersion","in":"query","description":"only include the latest version of objects","required":false,"schema":{"type":"boolean"}},{"name":"filter.locked","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.states","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}}},{"name":"filter.overrideIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"filter.overrideStates","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}}},{"name":"vfilter.ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"vfilter.excludedIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"vfilter.types","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}}},{"name":"vfilter.excludedTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}}},{"name":"vfilter.name","in":"query","required":false,"schema":{"type":"string"}},{"name":"vfilter.description","in":"query","required":false,"schema":{"type":"string"}},{"name":"vfilter.createdBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"vfilter.lastModifiedBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"vfilter.createdDateStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"vfilter.createdDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"vfilter.lastModifiedDateStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"vfilter.lastModifiedDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"vfilter.searchString","in":"query","description":"This is equivalent to searching where the name OR the description is LIKE this value","required":false,"schema":{"type":"string"}},{"name":"vfilter.caseSensitive","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"vfilter.wholeWord","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"vfilter.resourcePackId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"vfilter.systemResource","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"vfilter.hidden","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"vfilter.hasApprovedVersion","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"vfilter.standardVariantId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"vfilter.useEffectiveDate","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"vfilter.effectiveDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"vfilter.categories","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"vfilter.categoryObjects","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceCategory"}}},{"name":"vfilter.vfilter_lastModifiedDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"vfilter.domainId","in":"query","description":"only include resources in this domain","required":false,"schema":{"type":"string"}},{"name":"vfilter.latestVersion","in":"query","description":"only include the latest version of objects","required":false,"schema":{"type":"boolean"}},{"name":"vfilter.locked","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"vfilter.states","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}}},{"name":"vfilter.overrideIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"vfilter.overrideStates","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}}},{"name":"tfilter.ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"tfilter.excludedIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"tfilter.types","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}}},{"name":"tfilter.excludedTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}}},{"name":"tfilter.name","in":"query","required":false,"schema":{"type":"string"}},{"name":"tfilter.description","in":"query","required":false,"schema":{"type":"string"}},{"name":"tfilter.createdBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"tfilter.lastModifiedBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"tfilter.createdDateStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"tfilter.createdDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"tfilter.lastModifiedDateStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"tfilter.lastModifiedDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"tfilter.searchString","in":"query","description":"This is equivalent to searching where the name OR the description is LIKE this value","required":false,"schema":{"type":"string"}},{"name":"tfilter.caseSensitive","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"tfilter.wholeWord","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"tfilter.resourcePackId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"tfilter.systemResource","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"tfilter.hidden","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"tfilter.hasApprovedVersion","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"tfilter.standardVariantId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"tfilter.useEffectiveDate","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"tfilter.effectiveDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"tfilter.categories","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"tfilter.categoryObjects","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceCategory"}}},{"name":"tfilter.vfilter_lastModifiedDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"tfilter.domainId","in":"query","description":"only include resources in this domain","required":false,"schema":{"type":"string"}},{"name":"tfilter.latestVersion","in":"query","description":"only include the latest version of objects","required":false,"schema":{"type":"boolean"}},{"name":"tfilter.locked","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"tfilter.states","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}}},{"name":"tfilter.overrideIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"tfilter.overrideStates","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}}},{"name":"rfilter.ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"rfilter.excludedIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"rfilter.types","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}}},{"name":"rfilter.excludedTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}}},{"name":"rfilter.name","in":"query","required":false,"schema":{"type":"string"}},{"name":"rfilter.description","in":"query","required":false,"schema":{"type":"string"}},{"name":"rfilter.createdBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"rfilter.lastModifiedBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"rfilter.createdDateStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"rfilter.createdDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"rfilter.lastModifiedDateStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"rfilter.lastModifiedDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"rfilter.searchString","in":"query","description":"This is equivalent to searching where the name OR the description is LIKE this value","required":false,"schema":{"type":"string"}},{"name":"rfilter.caseSensitive","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"rfilter.wholeWord","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"rfilter.resourcePackId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"rfilter.systemResource","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"rfilter.hidden","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"rfilter.hasApprovedVersion","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"rfilter.standardVariantId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"rfilter.useEffectiveDate","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"rfilter.effectiveDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"rfilter.categories","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"rfilter.categoryObjects","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceCategory"}}},{"name":"rfilter.vfilter_lastModifiedDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"rfilter.domainId","in":"query","description":"only include resources in this domain","required":false,"schema":{"type":"string"}},{"name":"rfilter.latestVersion","in":"query","description":"only include the latest version of objects","required":false,"schema":{"type":"boolean"}},{"name":"rfilter.locked","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"rfilter.states","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}}},{"name":"rfilter.overrideIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"rfilter.overrideStates","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}}},{"name":"useEffectiveDate","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"effectiveDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"offset","in":"query","description":"For pagination, fetch entities after this many","required":false,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"count","in":"query","description":"For pagination, the number of entities per page","required":false,"schema":{"type":"integer","format":"int32"},"example":1000},{"name":"sort","description":"Comma separated list of {asc|desc}_{field name}","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseLinkDTO"}}}}}},"post":{"tags":["links-controller"],"operationId":"createLink","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseLinkDTO"}}}}}},"delete":{"tags":["links-controller"],"operationId":"deleteLink","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}},"/api/v1/links/{domain}/multiple":{"post":{"tags":["links-controller"],"operationId":"createLinks","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultipleLinksBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseLinkDTO"}}}}}},"delete":{"tags":["links-controller"],"operationId":"deleteLinks","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultipleLinksBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}},"/api/v1/import/{packagetype}/{domain}":{"post":{"tags":["import-controller"],"operationId":"importPackage","parameters":[{"name":"packagetype","in":"path","required":true,"schema":{"type":"string","enum":["das","migrator"]}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"commit","in":"query","description":"Set to false to do a dry run","required":false,"schema":{"type":"boolean","default":false}},{"name":"previousExportPackage","in":"query","description":"The id of a previously uploaded export package","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/ImportPackage"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseImportResponse"}}}}}}},"/api/v1/import/resource-graph/{packagetype}":{"post":{"tags":["import-controller"],"operationId":"generateGraph","parameters":[{"name":"packagetype","in":"path","required":true,"schema":{"type":"string","enum":["das","migrator"]}},{"name":"nodeFormat","in":"query","required":false,"schema":{"type":"string"}},{"name":"expandSystemResources","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/ImportPackage"}}}},"responses":{"200":{"description":"OK"}}}},"/api/v1/group-roles":{"get":{"tags":["group-role-controller"],"operationId":"getRoles_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseGroupRole"}}}}}},"post":{"tags":["group-role-controller"],"operationId":"createRole_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRole"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseGroupRole"}}}}}},"delete":{"tags":["group-role-controller"],"operationId":"deleteRole_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupRole"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}},"/api/v1/export/{domain}":{"get":{"tags":["export-controller"],"operationId":"exportAllResourcesFromDomain_1","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"versions","in":"query","required":false,"schema":{"type":"string","default":"LATEST_APPROVED","enum":["ALL","LATEST_APPROVED","LATEST"]}}],"responses":{"200":{"description":"OK"}}},"post":{"tags":["export-controller"],"operationId":"exportAllResourcesFromDomain","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExportRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/export/{domain}/{rootId}":{"get":{"tags":["export-controller"],"operationId":"exportResourcesFromRootInDomain_1","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"rootId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"versions","in":"query","required":false,"schema":{"type":"string","default":"LATEST_APPROVED","enum":["ALL","LATEST_APPROVED","LATEST"]}}],"responses":{"200":{"description":"OK"}}},"post":{"tags":["export-controller"],"operationId":"exportResourcesFromRootInDomain","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"rootId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExportRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/domains":{"get":{"tags":["domain-controller"],"operationId":"getDomains","parameters":[{"name":"filter.searchString","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter.caseSensitive","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.wholeWord","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.currentUser","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"offset","in":"query","description":"For pagination, fetch entities after this many","required":false,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"count","in":"query","description":"For pagination, the number of entities per page","required":false,"schema":{"type":"integer","format":"int32"},"example":1000},{"name":"fetchChildren","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"fetchApprovalGroups","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseDomain"}}}}}},"post":{"tags":["domain-controller"],"operationId":"createDomains","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseDomain"}}}}}}},"/api/v1/dictionaries":{"get":{"tags":["dictionary-controller"],"operationId":"getDictionaries","parameters":[{"name":"includeBinaries","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseDictionary"}}}}}},"post":{"tags":["dictionary-controller"],"operationId":"createDictionaryFromFiles","parameters":[{"name":"languageCode","in":"query","description":"The language code of the dictionary. e.g. en-us","required":true,"schema":{"type":"string"}},{"name":"locale","in":"query","description":"The locale of the dictionary. e.g. English - United States","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/DictionaryBody"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseDictionary"}}}}}}},"/api/v1/collection-resources/create":{"post":{"tags":["collection-resources-controller"],"summary":"Create a new collection resource containing the specified ResourceVersions","operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"The collection resource that is being added","items":{"$ref":"#/components/schemas/VersionedId"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseCollectionResource"}}}}}}},"/api/v1/collection-resources/collection-details":{"post":{"tags":["collection-resources-controller"],"summary":"Get the list of resources and versions, including additional detail information, for the specified list of collection ids","operationId":"collectionDetails","parameters":[{"name":"requestFilter","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CollectionResourceFilter"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Filter for selecting the collection resources for a set of collection ids","items":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseCollectionResourceDetailResponse"}}}}}}},"/api/v1/version/api":{"get":{"tags":["version-controller"],"summary":"Get version information for the gateway","operationId":"getApiVersion","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/v1/version":{"get":{"tags":["version-controller"],"summary":"Get version information for the gateway","operationId":"getVersion","responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionConfig"}}}}}}},"/api/v1/user-profiles/{domain}":{"get":{"tags":["user-profile-controller"],"operationId":"getUserProfile","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"fetchSavedResources","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProfileResponse"}}}}}}},"/api/v1/tenants":{"get":{"tags":["tenant-admin-controller"],"operationId":"getTenants","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponseTenant"}}}}}}},"/api/v1/tenants/configuration":{"get":{"tags":["tenant-admin-controller"],"operationId":"getTenantConfiguration","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenantsConfiguration"}}}}}}},"/api/v1/settings/{application}":{"get":{"tags":["settings-controller"],"operationId":"getSettingsForApp","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponseSettingsObj"}}}}}}},"/api/v1/settings/{application}/{name}":{"get":{"tags":["settings-controller"],"operationId":"getSetting","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseSettingsObj"}}}}}},"delete":{"tags":["settings-controller"],"operationId":"deleteSetting","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}},"/api/v1/search/{domain}":{"get":{"tags":["search-controller"],"operationId":"search","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"requestFilter","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ResourceFilterRequest"}},{"name":"lockedBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"fetchPermissions","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"fetchCategories","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"fetchVariants","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"fetchApproval","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseResourceVersion"}}}}}}},"/api/v1/search/healthCheck":{"get":{"tags":["search-controller"],"operationId":"healthCheck","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/search/healthCheck/{tenantId}":{"get":{"tags":["search-controller"],"operationId":"healthCheck_1","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/run-definitions/{domain}/preview/{id}":{"get":{"tags":["engine-run-def-controller"],"operationId":"getDefForPreview","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"useApprovedTemplate","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RunDef"}}}}}}},"/api/v1/run-definitions/{domain}/engines":{"get":{"tags":["engine-run-def-controller"],"operationId":"getAvailableEngines","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseResourceVersion"}}}}}}},"/api/v1/run-definitions/{domain}/engine":{"get":{"tags":["engine-run-def-controller"],"operationId":"getNamedEngine","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"encoding","in":"query","required":false,"schema":{"type":"string"},"example":"DBCS"},{"name":"engineName","in":"query","required":true,"schema":{"type":"string"},"example":"ProdEngine"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceVersion"}}}}}}},"/api/v1/run-definitions/{domain}/engine/default":{"get":{"tags":["engine-run-def-controller"],"operationId":"getDefaultEngine","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"encoding","in":"query","required":true,"schema":{"type":"string"},"example":"DBCS"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceVersion"}}}}}}},"/api/v1/resources/{domain}/{id}/sectionDescendants":{"get":{"tags":["resources-controller"],"operationId":"sectionDescendants","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"latestApproved","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseTreeResourceVersion"}}}}}}},"/api/v1/resources/{domain}/history/{resourceId}":{"get":{"tags":["resources-controller"],"operationId":"getResourceHistory","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"resourceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fetchAcrossDomains","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"historyType","in":"query","required":false,"schema":{"type":"string","enum":["CREATE","STATE","METADATA","CONTENT"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseResourceHistory"}}}}}}},"/api/v1/resource-categories/{id}":{"get":{"tags":["resource-category-controller"],"operationId":"getResourceCategory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceCategory"}}}}}},"delete":{"tags":["resource-category-controller"],"operationId":"deleteResourceCategory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}},"/api/v1/resource-categories/name/{name}":{"get":{"tags":["resource-category-controller"],"operationId":"getResourceCategoryByName","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseResourceCategory"}}}}}},"delete":{"tags":["resource-category-controller"],"operationId":"deleteResourceCategoryByName","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}},"/api/v1/realtime-services/{realtimeServiceName}":{"get":{"tags":["realtime-services-controller"],"summary":"Gets the realtime service with the specified name","operationId":"get","parameters":[{"name":"realtimeServiceName","in":"path","description":"The realtime service to get information regarding","required":true,"schema":{"type":"string"}},{"name":"domainId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseRealtimeService"}}}}}}},"/api/v1/realtime-services/{realtimeServiceName}/enginerundef":{"get":{"tags":["realtime-services-controller"],"summary":"Gets the engine rundef content for the realtime service with the specified name","operationId":"getEngineRundef","parameters":[{"name":"realtimeServiceName","in":"path","description":"The realtime service to get information regarding","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/permissions/{domain}/webapps":{"get":{"tags":["permissions-controller"],"operationId":"getWebappPermissions","parameters":[{"name":"groupId","in":"query","required":false,"schema":{"type":"string"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseWebappPermissionResponse"}}}}}}},"/api/v1/permissions/{domain}/resources":{"get":{"tags":["permissions-controller"],"operationId":"getUserPermissions","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"groupId","in":"query","required":false,"schema":{"type":"string"}},{"name":"resourceType","in":"query","required":false,"schema":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseRolePermissions"}}}}}}},"/api/v1/permissions/{domain}/licenses":{"get":{"tags":["permissions-controller"],"operationId":"getLicensePermissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseWebappPermissionResponse"}}}}}}},"/api/v1/pdf/{domain}/contents/{resourceId}":{"get":{"tags":["pdf-controller"],"description":"Expects a resource id, version and state and page number as request parameter and return fragments image preview for Pdf type resource","operationId":"pdfPreview","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"resourceId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"version","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"state","in":"query","required":true,"schema":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}},{"name":"pageNum","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/pdf/{domain}/contents/{id}/fragments":{"get":{"tags":["pdf-controller"],"description":"Expects a resource id, version and state as request parameter and return fragments ( paragraph, image ) for Pdf type resource","operationId":"extractPdf","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"version","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"state","in":"query","required":true,"schema":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}},{"name":"pageNum","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PdfFragmentResponse"}}}}}}},"/api/v1/package/{domain}/type":{"get":{"tags":["package-controller"],"operationId":"getPackageAllResourceType","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"resourceType","in":"query","required":true,"schema":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}},{"name":"latestVersions","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/manifests/{domain}/{packageId}":{"get":{"tags":["manifest-controller"],"operationId":"getManifestForPackage","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"packageId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Manifest"}}}}}}},"/api/v1/manifests/{domain}/communication-set/{communicationSetId}":{"get":{"tags":["manifest-controller"],"operationId":"getManifestForCommunicationSet","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"communicationSetId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Manifest"}}}}}}},"/api/v1/links/{domain}/resources":{"get":{"tags":["links-controller"],"operationId":"getResources_1","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkSubjectId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"linkSubjectVersion","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"linkObjectId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"linkDepth","in":"query","description":"Optionally specify the maximum depth for a recursive traversal of a link tree.","required":false,"schema":{"type":"integer","format":"int32"},"example":1000},{"name":"filter.ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"filter.excludedIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"filter.types","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}}},{"name":"filter.excludedTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}}},{"name":"filter.name","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter.description","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter.createdBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter.lastModifiedBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"filter.createdDateStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.createdDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.lastModifiedDateStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.lastModifiedDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.searchString","in":"query","description":"This is equivalent to searching where the name OR the description is LIKE this value","required":false,"schema":{"type":"string"}},{"name":"filter.caseSensitive","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.wholeWord","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.resourcePackId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"filter.systemResource","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.hidden","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.hasApprovedVersion","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.standardVariantId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"filter.useEffectiveDate","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.effectiveDate","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.categories","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"filter.categoryObjects","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceCategory"}}},{"name":"filter.vfilter_lastModifiedDateEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"filter.domainId","in":"query","description":"only include resources in this domain","required":false,"schema":{"type":"string"}},{"name":"filter.latestVersion","in":"query","description":"only include the latest version of objects","required":false,"schema":{"type":"boolean"}},{"name":"filter.locked","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"filter.states","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}}},{"name":"filter.overrideIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"filter.overrideStates","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}}},{"name":"vfilter.ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"vfilter.excludedIds","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}},{"name":"vfilter.types","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}}},{"name":"vfilter.excludedTypes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["all","designer","author","designAsset","commAsset","orchestrator","resourcepack","exstrapplication","exstrdocument","exstrpage","exstrcomponentobj","exstremail","exstrengine","exstrvariablebase","exstrpackage","exstrgraphicalmessage","exstrtextmessage","exstrparagraph","exstrparagraphsection","image","samplefile","exstrdatasource","exstrhtml5","versionedtemplate","documentdefinition","enginerundef","font","fontdefinition","exstrbarcode","exstrpapertype","exstrmessagetype","exstrmetadata","orcsettings","flowmodel","exstrcommunicationset","exstroutputqueue","exstroutput","exstrlanguage","exstrlocale","exstrmigrationset","exstrmessaging","exstrmessagingauthor","flowscript","exstrnamedcolor","exstrcolorfamily","exstrstyle","exstrstylesheet","exstrevent","exstrrule","dashboard","pdf"]}}},{"name":"vfilter.name","in":"query","required":false,"schema":{"type":"string"}},{"name":"vfilter.description","in":"query","
[...]
