openapi: 3.0.1
info:
  title: Exstream Design
  version: v1
servers:
- description: service frontend url
  url: https://vm-exstreamna1.eimdemo.com/design
paths:
  /api/v1/settings:
    get:
      operationId: getAllSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseSettingsObj'
          description: OK
      tags:
      - settings-controller
      x-accepts: application/json
      x-tags:
      - tag: settings-controller
    post:
      operationId: createSetting_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsObj'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponseSettingsObj'
          description: OK
      tags:
      - settings-controller
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: settings-controller
    put:
      operationId: createSetting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsObj'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponseSettingsObj'
          description: OK
      tags:
      - settings-controller
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: settings-controller
  /api/v1/settings/multiple:
    post:
      operationId: createMultipleSettings_1
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/SettingsObj'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseSettingsObj'
          description: OK
      tags:
      - settings-controller
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: settings-controller
    put:
      operationId: createMultipleSettings
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/SettingsObj'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseSettingsObj'
          description: OK
      tags:
      - settings-controller
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: settings-controller
  /api/v1/themes/{domain}/{themeId}:
    get:
      operationId: getTheme
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: themeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: version
        required: false
        schema:
          default: -1
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseTheme'
          description: OK
      tags:
      - theme-controller
      x-accepts: '*/*'
      x-tags:
      - tag: theme-controller
    post:
      operationId: getThemeWithOptions
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: themeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: version
        required: false
        schema:
          default: -1
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostGetThemeWithOptionsPayload'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseTheme'
          description: OK
      tags:
      - theme-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: theme-controller
    put:
      operationId: updateTheme
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: themeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: requireLock
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Theme'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericResponse'
          description: OK
      tags:
      - theme-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: theme-controller
  /api/v1/themes/{domain}/{themeId}/template:
    put:
      operationId: updateTemplate
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: themeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericResponse'
          description: OK
      summary: Update the specified theme to be based on the latest approved version
        of its template.
      tags:
      - theme-controller
      x-accepts: '*/*'
      x-tags:
      - tag: theme-controller
  /api/v1/tenants/{tenantId}/schema:
    put:
      operationId: updateTenantSchema
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponseTenant'
          description: OK
      tags:
      - tenant-admin-controller
      x-accepts: application/json
      x-tags:
      - tag: tenant-admin-controller
  /api/v1/tenants/updateTenant:
    put:
      operationId: updateTenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponseTenant'
          description: OK
      tags:
      - tenant-admin-controller
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: tenant-admin-controller
  /api/v1/tenants/all/schema:
    put:
      operationId: updateTenantSchemas
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseTenant'
          description: OK
      tags:
      - tenant-admin-controller
      x-accepts: application/json
      x-tags:
      - tag: tenant-admin-controller
  /api/v1/run-definitions/{domain}/engine/{id}:
    put:
      operationId: setEngineAsDefault
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResourceVersion'
          description: OK
      tags:
      - engine-run-def-controller
      x-accepts: '*/*'
      x-tags:
      - tag: engine-run-def-controller
  /api/v1/roles/{id}:
    delete:
      operationId: deleteRole
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericResponse'
          description: OK
      tags:
      - role-controller
      x-accepts: '*/*'
      x-tags:
      - tag: role-controller
    put:
      operationId: updateRole
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Role'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseRole'
          description: OK
      tags:
      - role-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: role-controller
  /api/v1/resources/{domain}/{id}:
    delete:
      operationId: deleteResource
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Valid values are LATEST, ALL, or an actual version number. If\
          \ not specified, will use LATEST."
        explode: true
        in: query
        name: version
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericResponse'
          description: OK
      tags:
      - resources-controller
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
    get:
      operationId: getResource
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: version
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: expand
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: checkIfLatestVersion
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - DRAFT
          - REVIEW
          - APPROVED
          - REJECTED
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResourceVersion'
          description: OK
      tags:
      - resources-controller
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
    put:
      operationId: updateResource
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonNode'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResourceVersion'
          description: OK
      tags:
      - resources-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
  /api/v1/resources/{domain}/{id}/state:
    put:
      operationId: updateState
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowRequestBody'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResourceVersion'
          description: OK
      tags:
      - resources-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
  /api/v1/resources/{domain}/{id}/show:
    put:
      operationId: showResource
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResource'
          description: OK
      tags:
      - resources-controller
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
  /api/v1/resources/{domain}/{id}/revert/{oldVersion}:
    put:
      description: "Replace the content of the current draft, or create a new draft\
        \ with content of specified version. Copies links as well."
      operationId: revertToOldVersion
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: oldVersion
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentRequestBody'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResourceVersion'
          description: OK
      tags:
      - resources-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
  /api/v1/resources/{domain}/{id}/promote:
    put:
      operationId: promote
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: version
        required: false
        schema:
          default: -1
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResourceVersion'
          description: OK
      tags:
      - resources-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
  /api/v1/resources/{domain}/{id}/hide:
    put:
      operationId: hideResource
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResource'
          description: OK
      tags:
      - resources-controller
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
  /api/v1/resources/{domain}/{id}/demote:
    put:
      operationId: demote
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: version
        required: false
        schema:
          default: -1
          format: int32
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResourceVersion'
          description: OK
      tags:
      - resources-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
  /api/v1/resources/{domain}/{id}/content:
    get:
      operationId: getContent
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: version
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - DRAFT
          - REVIEW
          - APPROVED
          - REJECTED
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StreamingResponseBody'
          description: OK
      tags:
      - resources-controller
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
    put:
      description: Expects a form part in the request body with the name "file" and
        will use the contents of that file to update the specified resource.
      operationId: updateContentViaFile
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileBody'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResourceVersion'
          description: OK
      tags:
      - resources-controller
      x-content-type: multipart/form-data
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
  /api/v1/resources/{domain}/{id}/content/{type}:
    get:
      operationId: getResourceContent
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - thumbnail
          - manifest
          - old
          type: string
        style: simple
      - explode: true
        in: query
        name: version
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - DRAFT
          - REVIEW
          - APPROVED
          - REJECTED
          type: string
        style: form
      responses:
        "200":
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/StreamingResponseBody'
            image/png:
              schema:
                $ref: '#/components/schemas/StreamingResponseBody'
            text/xml:
              schema:
                $ref: '#/components/schemas/StreamingResponseBody'
          description: OK
      tags:
      - resources-controller
      x-accepts: "application/xml,image/png,text/xml"
      x-tags:
      - tag: resources-controller
    put:
      description: Expects a form part in the request body with the name "file" and
        will use the contents of that file to update the specified resource.
      operationId: updateContentOfTypeViaFile
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - thumbnail
          - manifest
          - old
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileBody'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResourceVersion'
          description: OK
      tags:
      - resources-controller
      x-content-type: multipart/form-data
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
  /api/v1/resources/{domain}/state:
    put:
      operationId: updateStates
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkWorkflowRequestBody'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseBulkWorkflowStateChangeResponse'
          description: OK
      tags:
      - resources-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
  /api/v1/resource-categories:
    get:
      operationId: getResourceCategories
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListResponseResourceCategory'
          description: OK
      tags:
      - resource-category-controller
      x-accepts: '*/*'
      x-tags:
      - tag: resource-category-controller
    put:
      operationId: updateResourceCategory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceCategory'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResourceCategory'
          description: OK
      tags:
      - resource-category-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: resource-category-controller
  /api/v1/realtime-services:
    get:
      operationId: getAll
      parameters:
      - explode: true
        in: query
        name: domainId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListResponseRealtimeService'
          description: OK
      summary: Gets a list of all realtime services
      tags:
      - realtime-services-controller
      x-accepts: '*/*'
      x-tags:
      - tag: realtime-services-controller
    post:
      operationId: add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealtimeService'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseRealtimeService'
          description: OK
      summary: Add a new realtime service
      tags:
      - realtime-services-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: realtime-services-controller
    put:
      operationId: update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealtimeService'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseRealtimeService'
          description: OK
      summary: Update an existing realtime service
      tags:
      - realtime-services-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: realtime-services-controller
  /api/v1/domains/{id}:
    put:
      operationId: updateDomain
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonNode'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseDomain'
          description: OK
      tags:
      - domain-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: domain-controller
  /api/v1/dictionaries/{languageCode}:
    delete:
      operationId: deleteDictionary
      parameters:
      - explode: false
        in: path
        name: languageCode
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericResponse'
          description: OK
      tags:
      - dictionary-controller
      x-accepts: '*/*'
      x-tags:
      - tag: dictionary-controller
    get:
      operationId: getDictionary
      parameters:
      - explode: false
        in: path
        name: languageCode
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseDictionary'
          description: OK
      tags:
      - dictionary-controller
      x-accepts: '*/*'
      x-tags:
      - tag: dictionary-controller
    put:
      operationId: updateDictionaryFiles
      parameters:
      - explode: false
        in: path
        name: languageCode
        required: true
        schema:
          type: string
        style: simple
      - description: The dictionary's locale
        explode: true
        in: query
        name: locale
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DictionaryBody'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseDictionary'
          description: OK
      tags:
      - dictionary-controller
      x-content-type: multipart/form-data
      x-accepts: '*/*'
      x-tags:
      - tag: dictionary-controller
  /api/v1/user-profiles/{domain}/recent:
    post:
      operationId: addRecent
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedResourceInput'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SavedResource'
          description: OK
      tags:
      - user-profile-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: user-profile-controller
  /api/v1/user-profiles/{domain}/favorites:
    delete:
      description: Removes the given list of resources from the favorites.
      operationId: deleteFavorites
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FavoriteResourcesInput'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseBulkUnfavoriteResponse'
          description: OK
      tags:
      - user-profile-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: user-profile-controller
    post:
      description: Marks the given list of resources as favorite for the current user.
      operationId: addFavorites
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FavoriteResourcesInput'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseBulkFavoriteResponse'
          description: OK
      tags:
      - user-profile-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: user-profile-controller
  /api/v1/user-profiles/{domain}/favorite:
    delete:
      operationId: deleteFavorite
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedResourceInput'
        required: true
      responses:
        "200":
          description: OK
      tags:
      - user-profile-controller
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: user-profile-controller
    post:
      operationId: addFavorite
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedResourceInput'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SavedResource'
          description: OK
      tags:
      - user-profile-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: user-profile-controller
  /api/v1/themes/{domain}:
    post:
      operationId: createTheme
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateThemeRequest'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResourceVersion'
          description: OK
      tags:
      - theme-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: theme-controller
  /api/v1/tenants/{tenantId}:
    get:
      operationId: getTenant
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponseTenant'
          description: OK
      tags:
      - tenant-admin-controller
      x-accepts: application/json
      x-tags:
      - tag: tenant-admin-controller
    post:
      operationId: createTenantSchema
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          maxLength: 40
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponseTenant'
          description: OK
      tags:
      - tenant-admin-controller
      x-accepts: application/json
      x-tags:
      - tag: tenant-admin-controller
  /api/v1/tenants/addTenant:
    post:
      operationId: createTenantWithExistingSchema
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataResponseTenant'
          description: OK
      tags:
      - tenant-admin-controller
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: tenant-admin-controller
  /api/v1/secrets/rollover:
    post:
      operationId: rolloverKeys
      parameters:
      - explode: true
        in: query
        name: oldKeyId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: int32
                type: integer
          description: OK
      tags:
      - secrets-controller
      x-accepts: '*/*'
      x-tags:
      - tag: secrets-controller
  /api/v1/secrets/migrateVault:
    post:
      operationId: migrateVault
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: boolean
          description: OK
      summary: Migrate secrets to vault.
      tags:
      - secrets-controller
      x-accepts: '*/*'
      x-tags:
      - tag: secrets-controller
  /api/v1/search/indexAll/{tenantId}:
    post:
      operationId: indexResources
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - search-controller
      x-accepts: application/json
      x-tags:
      - tag: search-controller
  /api/v1/search/create/{tenantId}:
    post:
      operationId: create
      parameters:
      - explode: false
        in: path
        name: tenantId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseSolrCollection'
          description: OK
      tags:
      - search-controller
      x-accepts: '*/*'
      x-tags:
      - tag: search-controller
  /api/v1/run-definitions/{domain}/template/{templateId}:
    post:
      operationId: create_1
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: templateId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RunDef'
          description: OK
      tags:
      - engine-run-def-controller
      x-accepts: '*/*'
      x-tags:
      - tag: engine-run-def-controller
  /api/v1/roles:
    get:
      operationId: getRoles
      parameters:
      - explode: true
        in: query
        name: filter.searchString
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter.caseSensitive
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.wholeWord
        required: false
        schema:
          type: boolean
        style: form
      - description: "For pagination, fetch entities after this many"
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "For pagination, the number of entities per page"
        example: 1000
        explode: true
        in: query
        name: count
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageResponseRole'
          description: OK
      tags:
      - role-controller
      x-accepts: '*/*'
      x-tags:
      - tag: role-controller
    post:
      operationId: createRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Role'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseRole'
          description: OK
      tags:
      - role-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: role-controller
  /api/v1/role-permissions:
    get:
      operationId: getAllPermissions
      parameters:
      - explode: true
        in: query
        name: roleName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListResponseRolePermissions'
          description: OK
      tags:
      - role-permissions-controller
      x-accepts: '*/*'
      x-tags:
      - tag: role-permissions-controller
    post:
      operationId: createRole_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RolePermissions'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseRolePermissions'
          description: OK
      tags:
      - role-permissions-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: role-permissions-controller
  /api/v1/resources/{domain}:
    get:
      operationId: getResources
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: filter.ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.excludedIds
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.types
        required: false
        schema:
          items:
            enum:
            - all
            - designer
            - author
            - designAsset
            - commAsset
            - orchestrator
            - resourcepack
            - exstrapplication
            - exstrdocument
            - exstrpage
            - exstrcomponentobj
            - exstremail
            - exstrengine
            - exstrvariablebase
            - exstrpackage
            - exstrgraphicalmessage
            - exstrtextmessage
            - exstrparagraph
            - exstrparagraphsection
            - image
            - samplefile
            - exstrdatasource
            - exstrhtml5
            - versionedtemplate
            - documentdefinition
            - enginerundef
            - font
            - fontdefinition
            - exstrbarcode
            - exstrpapertype
            - exstrmessagetype
            - exstrmetadata
            - orcsettings
            - flowmodel
            - exstrcommunicationset
            - exstroutputqueue
            - exstroutput
            - exstrlanguage
            - exstrlocale
            - exstrmigrationset
            - exstrmessaging
            - exstrmessagingauthor
            - flowscript
            - exstrnamedcolor
            - exstrcolorfamily
            - exstrstyle
            - exstrstylesheet
            - exstrevent
            - exstrrule
            - dashboard
            - pdf
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.excludedTypes
        required: false
        schema:
          items:
            enum:
            - all
            - designer
            - author
            - designAsset
            - commAsset
            - orchestrator
            - resourcepack
            - exstrapplication
            - exstrdocument
            - exstrpage
            - exstrcomponentobj
            - exstremail
            - exstrengine
            - exstrvariablebase
            - exstrpackage
            - exstrgraphicalmessage
            - exstrtextmessage
            - exstrparagraph
            - exstrparagraphsection
            - image
            - samplefile
            - exstrdatasource
            - exstrhtml5
            - versionedtemplate
            - documentdefinition
            - enginerundef
            - font
            - fontdefinition
            - exstrbarcode
            - exstrpapertype
            - exstrmessagetype
            - exstrmetadata
            - orcsettings
            - flowmodel
            - exstrcommunicationset
            - exstroutputqueue
            - exstroutput
            - exstrlanguage
            - exstrlocale
            - exstrmigrationset
            - exstrmessaging
            - exstrmessagingauthor
            - flowscript
            - exstrnamedcolor
            - exstrcolorfamily
            - exstrstyle
            - exstrstylesheet
            - exstrevent
            - exstrrule
            - dashboard
            - pdf
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter.description
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter.createdBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter.lastModifiedBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter.createdDateStart
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: filter.createdDateEnd
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: filter.lastModifiedDateStart
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: filter.lastModifiedDateEnd
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: This is equivalent to searching where the name OR the description
          is LIKE this value
        explode: true
        in: query
        name: filter.searchString
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter.caseSensitive
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.wholeWord
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.resourcePackId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: filter.systemResource
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.hidden
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.hasApprovedVersion
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.standardVariantId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: filter.useEffectiveDate
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.effectiveDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: filter.categories
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.categoryObjects
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ResourceCategory'
          type: array
        style: form
      - explode: true
        in: query
        name: filter.vfilter_lastModifiedDateEnd
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: only include resources in this domain
        explode: true
        in: query
        name: filter.domainId
        required: false
        schema:
          type: string
        style: form
      - description: only include the latest version of objects
        explode: true
        in: query
        name: filter.latestVersion
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.locked
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.states
        required: false
        schema:
          items:
            enum:
            - DRAFT
            - REVIEW
            - APPROVED
            - REJECTED
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.overrideIds
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.overrideStates
        required: false
        schema:
          items:
            enum:
            - DRAFT
            - REVIEW
            - APPROVED
            - REJECTED
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: advancedFilter
        required: false
        schema:
          type: string
        style: form
      - description: "For pagination, fetch entities after this many"
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "For pagination, the number of entities per page"
        example: 1000
        explode: true
        in: query
        name: count
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: fetchDomains
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: fetchPermissions
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: fetchCategories
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: fetchVariants
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: fetchApproval
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: expand
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageResponseResourceVersion'
          description: OK
      tags:
      - resources-controller
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
    post:
      operationId: createResource
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: contentMimeType
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceVersion'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResourceVersion'
          description: OK
      tags:
      - resources-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
  /api/v1/resources/{domain}/{id}/lock:
    delete:
      operationId: unlockResource
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: version
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "When set to true, this will break a lock held by another user\
          \ if the current user is a tenant admin."
        explode: true
        in: query
        name: force
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResourceVersion'
          description: OK
      tags:
      - resources-controller
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
    post:
      operationId: lockResource
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: version
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResourceVersion'
          description: OK
      tags:
      - resources-controller
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
  /api/v1/resources/{domain}/filter:
    post:
      operationId: getResourcesFilterBody
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: filter.ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.excludedIds
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.types
        required: false
        schema:
          items:
            enum:
            - all
            - designer
            - author
            - designAsset
            - commAsset
            - orchestrator
            - resourcepack
            - exstrapplication
            - exstrdocument
            - exstrpage
            - exstrcomponentobj
            - exstremail
            - exstrengine
            - exstrvariablebase
            - exstrpackage
            - exstrgraphicalmessage
            - exstrtextmessage
            - exstrparagraph
            - exstrparagraphsection
            - image
            - samplefile
            - exstrdatasource
            - exstrhtml5
            - versionedtemplate
            - documentdefinition
            - enginerundef
            - font
            - fontdefinition
            - exstrbarcode
            - exstrpapertype
            - exstrmessagetype
            - exstrmetadata
            - orcsettings
            - flowmodel
            - exstrcommunicationset
            - exstroutputqueue
            - exstroutput
            - exstrlanguage
            - exstrlocale
            - exstrmigrationset
            - exstrmessaging
            - exstrmessagingauthor
            - flowscript
            - exstrnamedcolor
            - exstrcolorfamily
            - exstrstyle
            - exstrstylesheet
            - exstrevent
            - exstrrule
            - dashboard
            - pdf
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.excludedTypes
        required: false
        schema:
          items:
            enum:
            - all
            - designer
            - author
            - designAsset
            - commAsset
            - orchestrator
            - resourcepack
            - exstrapplication
            - exstrdocument
            - exstrpage
            - exstrcomponentobj
            - exstremail
            - exstrengine
            - exstrvariablebase
            - exstrpackage
            - exstrgraphicalmessage
            - exstrtextmessage
            - exstrparagraph
            - exstrparagraphsection
            - image
            - samplefile
            - exstrdatasource
            - exstrhtml5
            - versionedtemplate
            - documentdefinition
            - enginerundef
            - font
            - fontdefinition
            - exstrbarcode
            - exstrpapertype
            - exstrmessagetype
            - exstrmetadata
            - orcsettings
            - flowmodel
            - exstrcommunicationset
            - exstroutputqueue
            - exstroutput
            - exstrlanguage
            - exstrlocale
            - exstrmigrationset
            - exstrmessaging
            - exstrmessagingauthor
            - flowscript
            - exstrnamedcolor
            - exstrcolorfamily
            - exstrstyle
            - exstrstylesheet
            - exstrevent
            - exstrrule
            - dashboard
            - pdf
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter.description
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter.createdBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter.lastModifiedBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter.createdDateStart
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: filter.createdDateEnd
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: filter.lastModifiedDateStart
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: filter.lastModifiedDateEnd
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: This is equivalent to searching where the name OR the description
          is LIKE this value
        explode: true
        in: query
        name: filter.searchString
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter.caseSensitive
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.wholeWord
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.resourcePackId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: filter.systemResource
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.hidden
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.hasApprovedVersion
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.standardVariantId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: filter.useEffectiveDate
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.effectiveDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: filter.categories
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.categoryObjects
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ResourceCategory'
          type: array
        style: form
      - explode: true
        in: query
        name: filter.vfilter_lastModifiedDateEnd
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: only include resources in this domain
        explode: true
        in: query
        name: filter.domainId
        required: false
        schema:
          type: string
        style: form
      - description: only include the latest version of objects
        explode: true
        in: query
        name: filter.latestVersion
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.locked
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.states
        required: false
        schema:
          items:
            enum:
            - DRAFT
            - REVIEW
            - APPROVED
            - REJECTED
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.overrideIds
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.overrideStates
        required: false
        schema:
          items:
            enum:
            - DRAFT
            - REVIEW
            - APPROVED
            - REJECTED
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: advancedFilter
        required: false
        schema:
          type: string
        style: form
      - description: "For pagination, fetch entities after this many"
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "For pagination, the number of entities per page"
        example: 1000
        explode: true
        in: query
        name: count
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: fetchDomains
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: fetchPermissions
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: fetchCategories
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: fetchVariants
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: fetchApproval
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: expand
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceFilter'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageResponseResourceVersion'
          description: OK
      tags:
      - resources-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
  /api/v1/resources/{domain}/content:
    post:
      operationId: createResourceFromFile
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - description: The name of the resource to create.
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: The type of resource to create.
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - all
          - designer
          - author
          - designAsset
          - commAsset
          - orchestrator
          - resourcepack
          - exstrapplication
          - exstrdocument
          - exstrpage
          - exstrcomponentobj
          - exstremail
          - exstrengine
          - exstrvariablebase
          - exstrpackage
          - exstrgraphicalmessage
          - exstrtextmessage
          - exstrparagraph
          - exstrparagraphsection
          - image
          - samplefile
          - exstrdatasource
          - exstrhtml5
          - versionedtemplate
          - documentdefinition
          - enginerundef
          - font
          - fontdefinition
          - exstrbarcode
          - exstrpapertype
          - exstrmessagetype
          - exstrmetadata
          - orcsettings
          - flowmodel
          - exstrcommunicationset
          - exstroutputqueue
          - exstroutput
          - exstrlanguage
          - exstrlocale
          - exstrmigrationset
          - exstrmessaging
          - exstrmessagingauthor
          - flowscript
          - exstrnamedcolor
          - exstrcolorfamily
          - exstrstyle
          - exstrstylesheet
          - exstrevent
          - exstrrule
          - dashboard
          - pdf
          type: string
        style: form
      - description: The subtype of resource to create. Appears in metadata.
        explode: true
        in: query
        name: subtype
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileBody'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResourceVersion'
          description: OK
      tags:
      - resources-controller
      x-content-type: multipart/form-data
      x-accepts: '*/*'
      x-tags:
      - tag: resources-controller
  /api/v1/resources/{domain}/Etag/Descriptors:
    post:
      operationId: resourceListEtags
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EtagDescriptorRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EtagDescriptorResponse'
          description: OK
      tags:
      - resources-controller
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: resources-controller
  /api/v1/resource-categories/{name}:
    post:
      operationId: createResourceCategory
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          maxLength: 255
          minLength: 1
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResourceCategory'
          description: OK
      tags:
      - resource-category-controller
      x-accepts: '*/*'
      x-tags:
      - tag: resource-category-controller
  /api/v1/pdf/{domain}/{id}/content/thumbnail:
    post:
      description: "Expects a resource id , resource content type and version."
      operationId: createThumbnailContentForResource
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: version
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataResponseResourceVersion'
          description: OK
      tags:
      - pdf-controller
      x-accepts: '*/*'
      x-tags:
      - tag: pdf-controller
  /api/v1/package/{domain}/root/{id}:
    get:
      operationId: getPackage
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: version
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: latestVersions
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          description: OK
      tags:
      - package-controller
      x-accepts: application/json
      x-tags:
      - tag: package-controller
    post:
      operationId: getPackageWithPayload
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: version
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: latestVersions
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageOptions'
      responses:
        "200":
          description: OK
      tags:
      - package-controller
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: package-controller
  /api/v1/package/{domain}/deployment:
    post:
      description: Handle a multi-part form request to deploy packages and their associated
        resources
      operationId: packageDeploymentUpload
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: resourcePackId
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: templateId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: packageId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PackageBody'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListResponseResourceVersion'
          description: OK
      tags:
      - package-controller
      x-content-type: multipart/form-data
      x-accepts: '*/*'
      x-tags:
      - tag: package-controller
  /api/v1/package/{domain}/deploySubPub:
    post:
      description: Handle a multi-part form request to deploy packages and their associated
        resources
      operationId: subPackageDeploymentUpload
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: packageId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: parentPackageId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PackageBody'
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListResponseResourceVersion'
          description: OK
      tags:
      - package-controller
      x-content-type: multipart/form-data
      x-accepts: '*/*'
      x-tags:
      - tag: package-controller
  /api/v1/otmm:
    delete:
      operationId: delete_2
      responses:
        "200":
          description: OK
      tags:
      - otmm-controller
      x-accepts: application/json
      x-tags:
      - tag: otmm-controller
    get:
      operationId: getSettings
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OtmmSetting'
          description: OK
      tags:
      - otmm-controller
      x-accepts: '*/*'
      x-tags:
      - tag: otmm-controller
    post:
      operationId: setSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtmmSetting'
        required: true
      responses:
        "200":
          description: OK
      tags:
      - otmm-controller
      x-content-type: application/json
      x-accepts: application/json
      x-tags:
      - tag: otmm-controller
  /api/v1/links/{domain}:
    delete:
      operationId: deleteLink
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkDTO'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GenericResponse'
          description: OK
      tags:
      - links-controller
      x-content-type: application/json
      x-accepts: '*/*'
      x-tags:
      - tag: links-controller
    get:
      operationId: getLinks
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: linkSubjectId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: linkSubjectVersion
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: linkObjectId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Optionally specify the maximum depth for a recursive traversal
          of a link tree.
        example: 1000
        explode: true
        in: query
        name: linkDepth
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: filter.ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.excludedIds
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.types
        required: false
        schema:
          items:
            enum:
            - all
            - designer
            - author
            - designAsset
            - commAsset
            - orchestrator
            - resourcepack
            - exstrapplication
            - exstrdocument
            - exstrpage
            - exstrcomponentobj
            - exstremail
            - exstrengine
            - exstrvariablebase
            - exstrpackage
            - exstrgraphicalmessage
            - exstrtextmessage
            - exstrparagraph
            - exstrparagraphsection
            - image
            - samplefile
            - exstrdatasource
            - exstrhtml5
            - versionedtemplate
            - documentdefinition
            - enginerundef
            - font
            - fontdefinition
            - exstrbarcode
            - exstrpapertype
            - exstrmessagetype
            - exstrmetadata
            - orcsettings
            - flowmodel
            - exstrcommunicationset
            - exstroutputqueue
            - exstroutput
            - exstrlanguage
            - exstrlocale
            - exstrmigrationset
            - exstrmessaging
            - exstrmessagingauthor
            - flowscript
            - exstrnamedcolor
            - exstrcolorfamily
            - exstrstyle
            - exstrstylesheet
            - exstrevent
            - exstrrule
            - dashboard
            - pdf
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.excludedTypes
        required: false
        schema:
          items:
            enum:
            - all
            - designer
            - author
            - designAsset
            - commAsset
            - orchestrator
            - resourcepack
            - exstrapplication
            - exstrdocument
            - exstrpage
            - exstrcomponentobj
            - exstremail
            - exstrengine
            - exstrvariablebase
            - exstrpackage
            - exstrgraphicalmessage
            - exstrtextmessage
            - exstrparagraph
            - exstrparagraphsection
            - image
            - samplefile
            - exstrdatasource
            - exstrhtml5
            - versionedtemplate
            - documentdefinition
            - enginerundef
            - font
            - fontdefinition
            - exstrbarcode
            - exstrpapertype
            - exstrmessagetype
            - exstrmetadata
            - orcsettings
            - flowmodel
            - exstrcommunicationset
            - exstroutputqueue
            - exstroutput
            - exstrlanguage
            - exstrlocale
            - exstrmigrationset
            - exstrmessaging
            - exstrmessagingauthor
            - flowscript
            - exstrnamedcolor
            - exstrcolorfamily
            - exstrstyle
            - exstrstylesheet
            - exstrevent
            - exstrrule
            - dashboard
            - pdf
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter.description
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter.createdBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter.lastModifiedBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter.createdDateStart
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: filter.createdDateEnd
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: filter.lastModifiedDateStart
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: filter.lastModifiedDateEnd
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: This is equivalent to searching where the name OR the description
          is LIKE this value
        explode: true
        in: query
        name: filter.searchString
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter.caseSensitive
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.wholeWord
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.resourcePackId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: filter.systemResource
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.hidden
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.hasApprovedVersion
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.standardVariantId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: filter.useEffectiveDate
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.effectiveDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: filter.categories
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.categoryObjects
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ResourceCategory'
          type: array
        style: form
      - explode: true
        in: query
        name: filter.vfilter_lastModifiedDateEnd
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: only include resources in this domain
        explode: true
        in: query
        name: filter.domainId
        required: false
        schema:
          type: string
        style: form
      - description: only include the latest version of objects
        explode: true
        in: query
        name: filter.latestVersion
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.locked
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: filter.states
        required: false
        schema:
          items:
            enum:
            - DRAFT
            - REVIEW
            - APPROVED
            - REJECTED
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.overrideIds
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: filter.overrideStates
        required: false
        schema:
          items:
            enum:
            - DRAFT
            - REVIEW
            - APPROVED
            - REJECTED
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: vfilter.ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: vfilter.excludedIds
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: vfilter.types
        required: false
        schema:
          items:
            enum:
            - all
            - designer
            - author
            - designAsset
            - commAsset
            - orchestrator
            - resourcepack
            - exstrapplication
            - exstrdocument
            - exstrpage
            - exstrcomponentobj
            - exstremail
            - exstrengine
            - exstrvariablebase
            - exstrpackage
            - exstrgraphicalmessage
            - exstrtextmessage
            - exstrparagraph
            - exstrparagraphsection
            - image
            - samplefile
            - exstrdatasource
            - exstrhtml5
            - versionedtemplate
            - documentdefinition
            - enginerundef
            - font
            - fontdefinition
            - exstrbarcode
            - exstrpapertype
            - exstrmessagetype
            - exstrmetadata
            - orcsettings
            - flowmodel
            - exstrcommunicationset
            - exstroutputqueue
            - exstroutput
            - exstrlanguage
            - exstrlocale
            - exstrmigrationset
            - exstrmessaging
            - exstrmessagingauthor
            - flowscript
            - exstrnamedcolor
            - exstrcolorfamily
            - exstrstyle
            - exstrstylesheet
            - exstrevent
            - exstrrule
            - dashboard
            - pdf
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: vfilter.excludedTypes
        required: false
        schema:
          items:
            enum:
            - all
            - designer
            - author
            - designAsset
            - commAsset
            - orchestrator
            - resourcepack
            - exstrapplication
            - exstrdocument
            - exstrpage
            - exstrcomponentobj
            - exstremail
            - exstrengine
            - exstrvariablebase
            - exstrpackage
            - exstrgraphicalmessage
            - exstrtextmessage
            - exstrparagraph
            - exstrparagraphsection
            - image
            - samplefile
            - exstrdatasource
            - exstrhtml5
            - versionedtemplate
            - documentdefinition
            - enginerundef
            - font
            - fontdefinition
            - exstrbarcode
            - exstrpapertype
            - exstrmessagetype
            - exstrmetadata
            - orcsettings
            - flowmodel
            - exstrcommunicationset
            - exstroutputqueue
            - exstroutput
            - exstrlanguage
            - exstrlocale
            - exstrmigrationset
            - exstrmessaging
            - exstrmessagingauthor
            - flowscript
            - exstrnamedcolor
            - exstrcolorfamily
            - exstrstyle
            - exstrstylesheet
            - exstrevent
            - exstrrule
            - dashboard
            - pdf
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: vfilter.name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: vfilter.description
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: vfilter.createdBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: vfilter.lastModifiedBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: vfilter.createdDateStart
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: vfilter.createdDateEnd
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: vfilter.lastModifiedDateStart
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: vfilter.lastModifiedDateEnd
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: This is equivalent to searching where the name OR the description
          is LIKE this value
        explode: true
        in: query
        name: vfilter.searchString
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: vfilter.caseSensitive
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: vfilter.wholeWord
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: vfilter.resourcePackId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: vfilter.systemResource
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: vfilter.hidden
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: vfilter.hasApprovedVersion
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: vfilter.standardVariantId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: vfilter.useEffectiveDate
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: vfilter.effectiveDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: vfilter.categories
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: vfilter.categoryObjects
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ResourceCategory'
          type: array
        style: form
      - explode: true
        in: query
        name: vfilter.vfilter_lastModifiedDateEnd
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: only include resources in this domain
        explode: true
        in: query
        name: vfilter.domainId
        required: false
        schema:
          type: string
        style: form
      - description: only include the latest version of objects
        explode: true
        in: query
        name: vfilter.latestVersion
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: vfilter.locked
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: vfilter.states
        required: false
        schema:
          items:
            enum:
            - DRAFT
            - REVIEW
            - APPROVED
            - REJECTED
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: vfilter.overrideIds
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: vfilter.overrideStates
        required: false
        schema:
          items:
            enum:
            - DRAFT
            - REVIEW
            - APPROVED
            - REJECTED
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: tfilter.ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: tfilter.excludedIds
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: tfilter.types
        required: false
        schema:
          items:
            enum:
            - all
            - designer
            - author
            - designAsset
            - commAsset
            - orchestrator
            - resourcepack
            - exstrapplication
            - exstrdocument
            - exstrpage
            - exstrcomponentobj
            - exstremail
            - exstrengine
            - exstrvariablebase
            - exstrpackage
            - exstrgraphicalmessage
            - exstrtextmessage
            - exstrparagraph
            - exstrparagraphsection
            - image
            - samplefile
            - exstrdatasource
            - exstrhtml5
            - versionedtemplate
            - documentdefinition
            - enginerundef
            - font
            - fontdefinition
            - exstrbarcode
            - exstrpapertype
            - exstrmessagetype
            - exstrmetadata
            - orcsettings
            - flowmodel
            - exstrcommunicationset
            - exstroutputqueue
            - exstroutput
            - exstrlanguage
            - exstrlocale
            - exstrmigrationset
            - exstrmessaging
            - exstrmessagingauthor
            - flowscript
            - exstrnamedcolor
            - exstrcolorfamily
            - exstrstyle
            - exstrstylesheet
            - exstrevent
            - exstrrule
            - dashboard
            - pdf
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: tfilter.excludedTypes
        required: false
        schema:
          items:
            enum:
            - all
            - designer
            - author
            - designAsset
            - commAsset
            - orchestrator
            - resourcepack
[...]
