{"openapi":"3.0.1","info":{"title":"Exstream Rationalization","description":"**For internal use of the product only**","version":"v1"},"servers":[{"url":"https://vm-exstreamna1.eimdemo.com/rationalizationApi","description":"service frontend url"}],"tags":[{"name":"/api/v1/tenant/internal"},{"name":"Tenant Admin Controller"}],"paths":{"/api/v1/tenants/{tenantId}/schema":{"put":{"tags":["Tenant Admin Controller"],"operationId":"updateTenantSchema","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}}},"/api/v1/tenants/updateTenant":{"put":{"tags":["Tenant Admin Controller"],"operationId":"updateTenant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTenantBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}}},"/api/v1/tenants/all/schema":{"put":{"tags":["Tenant Admin Controller"],"operationId":"updateTenantSchemas","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponseTenant"}}}}}}},"/api/v1/rationalization/{domainId}/preview/{msId}/{customFragmentId}":{"put":{"tags":["rationalization-report-controller"],"operationId":"updateCustomFragment","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"customFragmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFragmentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/rationalization/{domainId}/preview/{fragmentId}":{"get":{"tags":["rationalization-report-controller"],"operationId":"preview","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"fragmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"isFragmentPreview","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["rationalization-report-controller"],"operationId":"updateFragment","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"fragmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FragmentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/migrationset/{id}/domains/{domainId}/disassociate":{"put":{"tags":["migration-set-domains-controller"],"operationId":"disassociateMigrationSetToDomain","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MigrationSetDomainRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/{id}/domains/{domainId}/associate":{"put":{"tags":["migration-set-domains-controller"],"operationId":"associateMigrationSetToDomain","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MigrationSetDomainRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/{domain}/{msId}/tmpfile":{"put":{"tags":["migration-set-controller"],"operationId":"updateRationalizationActivity","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"migrationType","in":"query","required":false,"schema":{"type":"string","default":"CONTENT"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["bundle"],"type":"object","properties":{"bundle":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/{domain}/{msId}/state":{"put":{"tags":["migration-set-controller"],"operationId":"updateRationalizationState","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/{domain}/{id}/promote":{"put":{"tags":["migration-set-controller"],"operationId":"promote","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/{domainId}/{msId}":{"get":{"tags":["migration-set-controller"],"operationId":"getMigrationSet_2","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}},"put":{"tags":["migration-set-controller"],"operationId":"updateMigrationSet","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MigrationSetRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}},"patch":{"tags":["migration-set-controller"],"operationId":"applyPatchForMigrationSet","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MigrationSetPatchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/internal/jobs/{tenant}/{domain}/{msId}/{implicit}":{"put":{"tags":["offline-job-controller"],"operationId":"unlockMigrationset","parameters":[{"name":"tenant","in":"path","required":true,"schema":{"type":"string"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"implicit","in":"path","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/tenants/{tenantId}":{"get":{"tags":["Tenant Admin Controller"],"operationId":"getTenant","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}},"post":{"tags":["Tenant Admin Controller"],"operationId":"createTenantSchema","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"maxLength":40,"minLength":1,"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}}},"/api/v1/tenants/addTenant":{"post":{"tags":["Tenant Admin Controller"],"operationId":"createTenantWithExistingSchema","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTenantBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}}},"/api/v1/secrets/migrateVault":{"post":{"tags":["secrets-controller"],"summary":"Migrate secrets to vault.","operationId":"migrateVault","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/api/v1/rationalization/{domainId}/{msId}":{"get":{"tags":["rationalization-report-controller"],"operationId":"getMigrationSet","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"implicit","in":"path","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SseEmitter"}}}}}},"post":{"tags":["rationalization-report-controller"],"operationId":"generateReportOffline","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"implicit","in":"path","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}},"delete":{"tags":["rationalization-report-controller"],"operationId":"cancelOfflineJob","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"implicit","in":"path","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/rationalization/{domainId}/{msId}/{implicit}":{"get":{"tags":["rationalization-report-controller"],"operationId":"getMigrationSet_1","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"implicit","in":"path","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SseEmitter"}}}}}},"post":{"tags":["rationalization-report-controller"],"operationId":"generateReportOffline_1","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"implicit","in":"path","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}},"delete":{"tags":["rationalization-report-controller"],"operationId":"cancelOfflineJob_1","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"implicit","in":"path","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/rationalization/{domainId}/preview/{msId}":{"post":{"tags":["rationalization-report-controller"],"operationId":"createCustomFragment","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFragmentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/{domain}":{"get":{"tags":["migration-set-controller"],"operationId":"getMigrationSets","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"offset","in":"query","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","required":false,"schema":{"minimum":10,"type":"integer","format":"int32","default":2147483647}},{"name":"orderby","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortInfo"}},{"name":"filter","in":"query","required":false,"schema":{"$ref":"#/components/schemas/RationalisationFilter"}},{"name":"hidden","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"latestversion","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"checkIfApproved","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}},"post":{"tags":["migration-set-controller"],"operationId":"createMigrationSet","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MigrationSetRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/{domain}/tmpfile":{"post":{"tags":["migration-set-controller"],"operationId":"createRationalizationActivity","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"migrationType","in":"query","required":false,"schema":{"type":"string","default":"CONTENT"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["bundle"],"type":"object","properties":{"bundle":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/{domain}/links":{"post":{"tags":["migration-set-controller"],"operationId":"createLinkBtwRatAndDasMigrationSet","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MigrationSetLinkRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/import/{domain}":{"post":{"tags":["migration-set-import-controller"],"operationId":"importMigrationSet","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"commit","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/MigrationSetImportRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/MigrationSetImportRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/export/{domain}/{id}":{"get":{"tags":["export-controller"],"operationId":"exportMigrationSet","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"version","in":"query","required":false,"schema":{"type":"string","default":"LATEST_APPROVED","enum":["LATEST_APPROVED","LATEST"]}}],"responses":{"200":{"description":"OK"}}},"post":{"tags":["export-controller"],"operationId":"exportResourcesFromRootInDomain","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MigrationSetExportRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/version/api":{"get":{"tags":["version-controller"],"operationId":"getApiVersion","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/v1/version":{"get":{"tags":["version-controller"],"operationId":"getVersion","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionConfig"}}}}}}},"/api/v1/tenants":{"get":{"tags":["Tenant Admin Controller"],"operationId":"getTenants","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponseTenant"}}}}}}},"/api/v1/tenants/configuration":{"get":{"tags":["Tenant Admin Controller"],"operationId":"getTenantConfiguration","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenantsConfiguration"}}}}}}},"/api/v1/tenant/internal/{tenantId}":{"get":{"tags":["/api/v1/tenant/internal"],"operationId":"getTenant_1","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}}},"/api/v1/report/{domain}/{id}":{"get":{"tags":["migration-set-report-controller"],"operationId":"getMigrationReportDetails","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/rationalization/{domainId}/template/fragments/{msId}":{"get":{"tags":["rationalization-report-controller"],"operationId":"getTemplateFragments","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"commType","in":"query","required":false,"schema":{"type":"string"}},{"name":"resourcePackId","in":"query","required":false,"schema":{"type":"string"}},{"name":"dasObjectType","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"offset","in":"query","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"orderby","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortInfo"}},{"name":"filter","in":"query","required":false,"schema":{"$ref":"#/components/schemas/RationalisationFilter"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/rationalization/{domainId}/report/{msId}":{"get":{"tags":["rationalization-report-controller"],"operationId":"getRationalisationRunResults","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/rationalization/{domainId}/migrationset/{dasId}":{"get":{"tags":["rationalization-report-controller"],"operationId":"getRatMigrationSetDetails","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"dasId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"latestApproved","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/rationalization/{domainId}/fragments/{msId}":{"get":{"tags":["rationalization-report-controller"],"operationId":"getRationalizationFragments","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"commType","in":"query","required":false,"schema":{"type":"string"}},{"name":"resourcePackId","in":"query","required":false,"schema":{"type":"string"}},{"name":"dasObjectType","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"offset","in":"query","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"orderby","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortInfo"}},{"name":"filter","in":"query","required":false,"schema":{"$ref":"#/components/schemas/RationalisationFilter"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/rationalization/{domainId}/fragments/superset/{fragmentId}":{"get":{"tags":["rationalization-report-controller"],"operationId":"getCustomSuperSet","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"fragmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CustomSuperSetRequest"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/rationalization/{domainId}/fragments/order/{fragmentId}":{"get":{"tags":["rationalization-report-controller"],"operationId":"getFragmentOrder","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"fragmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/rationalization/{domainId}/fragments/groups/{fragmentId}":{"get":{"tags":["rationalization-report-controller"],"operationId":"getGroupFragment","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"fragmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/rationalization/{domainId}/fragments/details/{fragmentId}":{"get":{"tags":["rationalization-report-controller"],"operationId":"getFragmentDetails","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"fragmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/rationalization/{domainId}/custom/fragments/{customFragmentId}":{"get":{"tags":["rationalization-report-controller"],"operationId":"getOrginatedFragments","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"customFragmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/rationalization/{domainId}/custom/fragments/parent/{fragmentId}":{"get":{"tags":["rationalization-report-controller"],"operationId":"getRootCustomFragmentId","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"fragmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/permissions/licenses":{"get":{"tags":["permissions-controller"],"operationId":"getLicensePermissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/permissions/licenses/{production}":{"get":{"tags":["permissions-controller"],"operationId":"getLicensePermissions_1","parameters":[{"name":"production","in":"path","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/permissions/configurations":{"get":{"tags":["permissions-controller"],"operationId":"getConfiguration","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/{domain}/{msid}/history":{"get":{"tags":["migration-set-controller"],"operationId":"getResourceHistory","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"msid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/{domain}/{id}/deletion-eligibility":{"get":{"tags":["migration-set-controller"],"operationId":"getCanDeleteMigrationSet","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/{domain}/template/variable/references/{variableId}/{templateId}":{"get":{"tags":["migration-set-controller"],"operationId":"getTemplateVariableFragmentsReferences","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"variableId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"templateId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"communications","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/{domain}/template/rule/references/{ruleId}/{templateId}":{"get":{"tags":["migration-set-controller"],"operationId":"getTemplateRuleFragmentsReferences","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"ruleId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"templateId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"communications","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/{domain}/template/fragment/references/{fragmentId}/{templateId}":{"get":{"tags":["migration-set-controller"],"operationId":"getTemplateFragmentsReferences","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"fragmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"templateId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"communications","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/{domain}/links/{msId}":{"get":{"tags":["migration-set-controller"],"operationId":"getMigrationSetLinks","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/{domain}/fragments/refernce/{msId}/{varId}":{"get":{"tags":["migration-set-controller"],"operationId":"getFragmentReference","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"varId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/{domain}/fragments/pdf/{msId}":{"get":{"tags":["migration-set-controller"],"operationId":"getPdfFragments","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"pdfid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"pageno","in":"query","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"name":"pagecount","in":"query","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/{domain}/fragment/references/{fragmentId}":{"get":{"tags":["migration-set-controller"],"operationId":"getFragmentsReferences","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"fragmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/{domainId}/{id}/domains":{"get":{"tags":["migration-set-domains-controller"],"operationId":"getMigrationSet_3","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/template/{domain}/{msId}":{"get":{"tags":["migration-set-controller"],"operationId":"getTemplateDetailsOfMigrationSet","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/template/fragments/{domain}/{msId}":{"get":{"tags":["migration-set-controller"],"operationId":"getFragmentsOfTemplateMigrationSet","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"offset","in":"query","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"orderby","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortInfo"}},{"name":"filter","in":"query","required":false,"schema":{"$ref":"#/components/schemas/RationalisationFilter"}},{"name":"hidden","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"references","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/migrationset/fragments/{domain}/{msId}":{"get":{"tags":["migration-set-controller"],"operationId":"getFragmentsOfMigrationSet","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"offset","in":"query","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"orderby","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortInfo"}},{"name":"filter","in":"query","required":false,"schema":{"$ref":"#/components/schemas/RationalisationFilter"}},{"name":"hidden","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"references","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}},"/api/v1/internal/jobs/{tenant}/{domain}/{msId}/{userName}/{implicit}":{"get":{"tags":["offline-job-controller"],"operationId":"runJob","parameters":[{"name":"tenant","in":"path","required":true,"schema":{"type":"string"}},{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"implicit","in":"path","required":true,"schema":{"type":"boolean"}},{"name":"userName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/migrationset/{domainId}/{msId}/{updateOnly}":{"delete":{"tags":["migration-set-controller"],"operationId":"deleteMigrationSet","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"msId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"updateOnly","in":"path","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RationalizationResponseObject"}}}}}}}},"components":{"schemas":{"DataResponseTenant":{"type":"object","properties":{"status":{"type":"string"},"data":{"$ref":"#/components/schemas/Tenant"}}},"Schema":{"type":"object","properties":{"schemaId":{"type":"string"},"latestSchemaChangeLogEntry":{"$ref":"#/components/schemas/SchemaChangeLogEntry"},"schemaMissingFromDatabase":{"type":"boolean"}}},"SchemaChangeLogEntry":{"type":"object","properties":{"id":{"type":"string"},"dateExecuted":{"type":"string","format":"date-time"},"orderExecuted":{"type":"integer","format":"int32"},"liquiBaseVersion":{"type":"string"}}},"Tenant":{"type":"object","properties":{"tenantId":{"type":"string"},"schema":{"$ref":"#/components/schemas/Schema"}}},"CreateTenantBody":{"required":["dbPassword"],"type":"object","properties":{"tenantId":{"maxLength":40,"minLength":1,"type":"string"},"schemaName":{"type":"string"},"dbUserId":{"type":"string"},"dbPassword":{"type":"string"}}},"ListResponseTenant":{"type":"object","properties":{"status":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Tenant"}}}},"CustomFragmentRequest":{"required":["name"],"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"fragments":{"maxItems":2147483647,"minItems":2,"type":"array","items":{"type":"string","format":"uuid"}},"isDynamic":{"type":"boolean"},"isIncluded":{"type":"boolean"},"fragTolerance":{"type":"integer","format":"int32"},"fragOccurrences":{"type":"array","items":{"$ref":"#/components/schemas/FragmentRefRequest"}}}},"FragmentRefRequest":{"type":"object","properties":{"refId":{"type":"string","format":"uuid"},"isSelected":{"type":"boolean"},"name":{"type":"string"},"isPinned":{"type":"boolean"}}},"RationalizationResponseObject":{"type":"object","properties":{"status":{"type":"string"},"data":{"type":"object"}}},"FragmentRequest":{"required":["name"],"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"isIncluded":{"type":"boolean"},"dasId":{"type":"string","format":"uuid"},"fragTolerance":{"type":"integer","format":"int32"},"fragOccurrences":{"type":"array","items":{"$ref":"#/components/schemas/FragmentRefRequest"}},"type":{"type":"string"},"isLibraryRule":{"type":"boolean"}}},"MigrationSetDomainRequest":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"editable":{"type":"boolean"},"toDomain":{"type":"string"},"rat":{"type":"boolean"}}},"WorkflowRequestBody":{"type":"object","properties":{"state":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]},"auditedComment":{"type":"string"},"locked":{"type":"boolean"}}},"MigrationSetFilter":{"type":"object","properties":{"baseFilter":{"type":"string"},"designPackId":{"type":"string","format":"uuid"}}},"MigrationSetRequest":{"required":["migrationType","name"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"tmpId":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"ratTolerance":{"maximum":100,"minimum":50,"type":"integer","format":"int32"},"fragTolerance":{"maximum":100,"minimum":50,"type":"integer","format":"int32"},"dataSources":{"type":"array","items":{"$ref":"#/components/schemas/MigrationSetResource"}},"outputSamples":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/MigrationSetResource"}},"templates":{"type":"array","items":{"$ref":"#/components/schemas/MigrationSetResource"}},"migrationType":{"type":"string","enum":["CONTENT","TEMPLATE","UNKNOWN"]},"filter":{"$ref":"#/components/schemas/MigrationSetFilter"}}},"MigrationSetResource":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string","enum":["XML","JSON","PDF","DOC","DOCX","HTM","HTML","TXT","PNG","JPG","TEMPLATE","THEME","UNKNOWN","BIN"]},"isIncluded":{"type":"boolean"}}},"MigrationSetLinkRequest":{"required":["dasMigrationSetId","ratMigrationSetId"],"type":"object","properties":{"ratMigrationSetId":{"type":"string","format":"uuid"},"dasMigrationSetId":{"type":"string","format":"uuid"},"variables":{"type":"array","items":{"$ref":"#/components/schemas/VariableLink"}}}},"VariableLink":{"required":["dasVariableId","ratVariableId"],"type":"object","properties":{"ratVariableId":{"type":"string","format":"uuid"},"dasVariableId":{"type":"string","format":"uuid"}}},"MigrationSetImportRequest":{"type":"object","properties":{"encrypt":{"type":"string"},"document":{"type":"string","format":"binary"}}},"MigrationSetExportRequest":{"type":"object","properties":{"versions":{"type":"string","enum":["LATEST_APPROVED","LATEST"]},"id":{"type":"string"},"encrypt":{"type":"string"}}},"MigrationSetPatchRequest":{"type":"object","properties":{"status":{"type":"string","enum":["GRAY","GRAYP","GRAYF","YELLOW","YELLOWP","YELLOWU","YELLOWF","GREEN","GREENP","GREENU","GREENF"]},"isHidden":{"type":"boolean"},"locked":{"type":"boolean"}}},"Details":{"type":"object","properties":{"git":{"$ref":"#/components/schemas/GitConfig"},"appName":{"type":"string"},"buildNumber":{"type":"string"},"timestamp":{"type":"string"}}},"GitConfig":{"type":"object","properties":{"tag":{"type":"string"},"hash":{"type":"string"},"branch":{"type":"string"},"commits":{"type":"string"}}},"VersionConfig":{"type":"object","properties":{"apiIdentifier":{"type":"string"},"clientVersion":{"type":"string"},"details":{"$ref":"#/components/schemas/Details"},"major":{"type":"string"},"minor":{"type":"string"},"patch":{"type":"string"},"versionString":{"type":"string"}}},"DataResponseTenantsConfiguration":{"type":"object","properties":{"status":{"type":"string"},"data":{"$ref":"#/components/schemas/TenantsConfiguration"}}},"TenantsConfiguration":{"type":"object","properties":{"autoSchemaManagement":{"type":"boolean"}}},"SseEmitter":{"type":"object","properties":{"timeout":{"type":"integer","format":"int64"}}},"SortInfo":{"type":"object"},"RationalisationFilter":{"type":"object","properties":{"type":{"type":"array","items":{"type":"string","enum":["MIGRATIONSET","FRAGMENTS"]}},"searchString":{"type":"string"},"caseSensitive":{"type":"boolean"},"createdBy":{"type":"string"},"lockedBy":{"type":"string"},"updatedBy":{"type":"string"},"statesList":{"type":"array","items":{"type":"string","enum":["DRAFT","REVIEW","APPROVED","REJECTED"]}},"communicationIdList":{"type":"array","items":{"type":"string"}},"migrationSetIdList":{"type":"array","items":{"type":"string"}}}},"CustomSuperSetRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"fragmentRef":{"maxItems":2147483647,"minItems":2,"type":"array","items":{"type":"string","format":"uuid"}}}}}}}