{"openapi":"3.0.1","info":{"title":"Exstream CXI Integration","description":"**For internal use of the product only**","version":"v1"},"servers":[{"url":"https://vm-exstreamna1.eimdemo.com/ei","description":"service frontend url"}],"tags":[{"name":"/api/v1/eventmetrics","description":"Event Metric Controller"},{"name":"/api/v1/configTypes","description":"Config Type Controller"},{"name":"/api/v1/internal","description":"External Configuration Controller"},{"name":"/api/v1/tenants","description":"Tenant Admin Controller"},{"name":"/api/v1/config","description":"Config Controller"}],"paths":{"/api/v1/tenants/{tenantId}/schema":{"put":{"tags":["/api/v1/tenants"],"operationId":"updateTenantSchema","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}}},"/api/v1/tenants/updateTenant":{"put":{"tags":["/api/v1/tenants"],"operationId":"updateTenant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTenantBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}}},"/api/v1/tenants/all/schema":{"put":{"tags":["/api/v1/tenants"],"operationId":"updateTenantSchemas","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponseTenant"}}}}}}},"/api/v1/secrets/{domain}/{secretId}":{"put":{"tags":["secret-controller"],"operationId":"setSecret","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"secretId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecretInfo"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/internal/{tenantId}/{domainId}/state":{"put":{"tags":["/api/v1/internal"],"operationId":"updateProcessingState","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}},{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessState"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseExternalConfiguration"}}}}}}},"/api/v1/config/{tenantId}/{domainId}":{"put":{"tags":["/api/v1/config"],"operationId":"updateConfig","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}},{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigFormat"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseExternalConfiguration"}}}}}}},"/api/v1/config/validate-covisint/{tenantId}/{domainId}":{"put":{"tags":["/api/v1/config"],"operationId":"validateCovisintConfig","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}},{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseBoolean"}}}}}}},"/api/v1/tenants/{tenantId}":{"get":{"tags":["/api/v1/tenants"],"operationId":"getTenant","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}},"post":{"tags":["/api/v1/tenants"],"operationId":"createTenantSchema","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"maxLength":40,"minLength":1,"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}}},"/api/v1/tenants/addTenant":{"post":{"tags":["/api/v1/tenants"],"operationId":"createTenantWithExistingSchema","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTenantBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}}},"/api/v1/secrets/{domain}/rollover":{"post":{"tags":["secret-controller"],"operationId":"rolloverKeys","parameters":[{"name":"oldKeyId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"integer","format":"int32"}}}}}}},"/api/v1/secrets/migrateVault":{"post":{"tags":["secrets-controller"],"summary":"Migrate secrets to vault.","operationId":"migrateVault","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/api/v1/version/api":{"get":{"tags":["version-controller"],"operationId":"getApiVersion","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/v1/version":{"get":{"tags":["version-controller"],"operationId":"getVersion","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionConfig"}}}}}}},"/api/v1/tenants":{"get":{"tags":["/api/v1/tenants"],"operationId":"getTenants","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponseTenant"}}}}}}},"/api/v1/tenants/configuration":{"get":{"tags":["/api/v1/tenants"],"operationId":"getTenantConfiguration","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenantsConfiguration"}}}}}}},"/api/v1/secrets/{domain}/{secretId}/exists":{"get":{"tags":["secret-controller"],"operationId":"secretExists","parameters":[{"name":"domain","in":"path","required":true,"schema":{"type":"string"}},{"name":"secretId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/internal/{eventType}":{"get":{"tags":["/api/v1/internal"],"operationId":"getConfigs","parameters":[{"name":"eventType","in":"path","required":true,"schema":{"type":"string","enum":["emailevent","covisint","custommetadata","cleanup"]}},{"name":"offset","in":"query","description":"For pagination, fetch entities after this many","required":false,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"count","in":"query","description":"For pagination, the number of entities per page","required":false,"schema":{"type":"integer","format":"int32"},"example":1000},{"name":"sort","description":"Comma separated list of {asc|desc}_{field name}","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseMessage"}}}}}}},"/api/v1/eventmetrics/events/{tenantId}/{domainId}":{"get":{"tags":["/api/v1/eventmetrics"],"operationId":"getEventsReport","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}},{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"lastUpdateTimeStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"lastUpdateTimeEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseLong"}}}}}}},"/api/v1/eventmetrics/events/{tenantId}/{domainId}/content":{"get":{"tags":["/api/v1/eventmetrics"],"operationId":"getEvents","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}},{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"eventType","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"lastUpdateTimeStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"lastUpdateTimeEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseListEvents"}}}}}}},"/api/v1/eventmetrics/email-event/{tenantId}/{domainId}":{"get":{"tags":["/api/v1/eventmetrics"],"operationId":"getEmaileventReport","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}},{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"connectorType","in":"query","required":true,"schema":{"type":"string"}},{"name":"processingState","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"lastUpdateTimeStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"lastUpdateTimeEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseLong"}}}}}}},"/api/v1/eventmetrics/email-event/{tenantId}/{domainId}/states":{"get":{"tags":["/api/v1/eventmetrics"],"operationId":"getProcessingStateEmaileventReport","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}},{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"connectorType","in":"query","required":true,"schema":{"type":"string"}},{"name":"processingStates","in":"query","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"lastUpdateTimeStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"lastUpdateTimeEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseLong"}}}}}}},"/api/v1/eventmetrics/email-event/{tenantId}/{domainId}/content":{"get":{"tags":["/api/v1/eventmetrics"],"operationId":"getEmailEvents","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}},{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"connectorType","in":"query","required":true,"schema":{"type":"string"}},{"name":"lastUpdateTimeStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"lastUpdateTimeEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseListEmailevent"}}}}}}},"/api/v1/eventmetrics/docgen-event/{tenantId}/{domainId}":{"get":{"tags":["/api/v1/eventmetrics"],"operationId":"getDocgenReport","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}},{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"processingState","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"lastUpdateTimeStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"lastUpdateTimeEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseLong"}}}}}}},"/api/v1/eventmetrics/docgen-event/{tenantId}/{domainId}/{flowStepId}/metadata":{"get":{"tags":["/api/v1/eventmetrics"],"operationId":"getCustomMetadataEvents","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}},{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"communicationId","in":"query","required":false,"schema":{"type":"string"}},{"name":"flowStepId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseListEvents"}}}}}}},"/api/v1/eventmetrics/docgen-event/{tenantId}/{domainId}/states":{"get":{"tags":["/api/v1/eventmetrics"],"operationId":"getProcessingStatesEvents","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}},{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"processingStates","in":"query","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}},{"name":"lastUpdateTimeStart","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"lastUpdateTimeEnd","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseListEvents"}}}}}}},"/api/v1/configTypes/{tenantId}/{domainId}":{"get":{"tags":["/api/v1/configTypes"],"operationId":"getConfigurationTypes","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}},{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseEditableConfig"}}}}}}},"/api/v1/config/{tenantId}/{domainId}/{configName}":{"get":{"tags":["/api/v1/config"],"operationId":"getConfig","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}},{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"configName","in":"path","required":true,"schema":{"type":"string","enum":["covisint","custommetadata","cleanup","unknown"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExternalConfiguration"}}}}}},"delete":{"tags":["/api/v1/config"],"operationId":"deleteConfig","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}},{"name":"domainId","in":"path","required":true,"schema":{"type":"string"}},{"name":"configName","in":"path","required":true,"schema":{"type":"string","enum":["covisint","custommetadata","cleanup","unknown"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}}},"components":{"schemas":{"DataResponseTenant":{"type":"object","properties":{"status":{"type":"string"},"data":{"$ref":"#/components/schemas/Tenant"}}},"Schema":{"type":"object","properties":{"schemaId":{"type":"string"},"latestSchemaChangeLogEntry":{"$ref":"#/components/schemas/SchemaChangeLogEntry"},"schemaMissingFromDatabase":{"type":"boolean"}}},"SchemaChangeLogEntry":{"type":"object","properties":{"id":{"type":"string"},"dateExecuted":{"type":"string","format":"date-time"},"orderExecuted":{"type":"integer","format":"int32"},"liquiBaseVersion":{"type":"string"}}},"Tenant":{"type":"object","properties":{"tenantId":{"type":"string"},"schema":{"$ref":"#/components/schemas/Schema"}}},"CreateTenantBody":{"required":["dbPassword"],"type":"object","properties":{"tenantId":{"maxLength":40,"minLength":1,"type":"string"},"schemaName":{"type":"string"},"dbUserId":{"type":"string"},"dbPassword":{"type":"string"}}},"ListResponseTenant":{"type":"object","properties":{"status":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Tenant"}}}},"SecretInfo":{"type":"object","properties":{"b64Content":{"type":"string"},"decodedContent":{"type":"string"}}},"ProcessState":{"type":"object","properties":{"configName":{"type":"string","enum":["covisint","custommetadata","cleanup","unknown"]},"processingState":{"type":"integer","format":"int32"},"details":{"type":"string"},"auditLogId":{"type":"integer","format":"int32"}}},"DataResponseExternalConfiguration":{"type":"object","properties":{"status":{"type":"string"},"data":{"$ref":"#/components/schemas/ExternalConfiguration"}}},"ExternalConfiguration":{"type":"object","properties":{"id":{"type":"string"},"domainId":{"type":"string"},"tenantId":{"type":"string"},"isActive":{"type":"boolean"},"processingState":{"type":"integer","format":"int32"},"lastProcessDate":{"type":"string","format":"date-time"},"configType":{"type":"string"},"configDetails":{"type":"object"},"auditEnable":{"type":"boolean"}}},"ConfigDetails":{"type":"object","properties":{"apiKey":{"type":"string"},"certificate":{"type":"string"},"clientId":{"type":"string"},"clientSecret":{"type":"string"},"proxy":{"$ref":"#/components/schemas/ConfigProxy"},"password":{"type":"string"},"processingState":{"type":"integer","format":"int32"},"schemaSource":{"type":"string"},"schemaVersion":{"type":"string"},"tenantId":{"type":"string"},"url":{"type":"string"},"userName":{"type":"string"},"cleanUpDays":{"type":"integer","format":"int32"}}},"ConfigFormat":{"type":"object","properties":{"isActive":{"type":"boolean"},"configName":{"type":"string","enum":["covisint","custommetadata","cleanup","unknown"]},"configDetails":{"$ref":"#/components/schemas/ConfigDetails"},"auditEnable":{"type":"boolean"}}},"ConfigProxy":{"type":"object","properties":{"host":{"type":"string"},"port":{"type":"string"},"userName":{"type":"string"},"password":{"type":"string"}}},"DataResponseBoolean":{"type":"object","properties":{"status":{"type":"string"},"data":{"type":"boolean"}}},"Details":{"type":"object","properties":{"git":{"$ref":"#/components/schemas/GitConfig"},"appName":{"type":"string"},"buildNumber":{"type":"string"},"timestamp":{"type":"string"}}},"GitConfig":{"type":"object","properties":{"tag":{"type":"string"},"hash":{"type":"string"},"branch":{"type":"string"},"commits":{"type":"string"}}},"VersionConfig":{"type":"object","properties":{"apiIdentifier":{"type":"string"},"clientVersion":{"type":"string"},"details":{"$ref":"#/components/schemas/Details"},"major":{"type":"string"},"minor":{"type":"string"},"patch":{"type":"string"},"versionString":{"type":"string"}}},"DataResponseTenantsConfiguration":{"type":"object","properties":{"status":{"type":"string"},"data":{"$ref":"#/components/schemas/TenantsConfiguration"}}},"TenantsConfiguration":{"type":"object","properties":{"autoSchemaManagement":{"type":"boolean"}}},"Configuration":{"type":"object","properties":{"configType":{"type":"string","enum":["covisint","custommetadata","cleanup","unknown"]},"details":{"type":"object"}}},"DatabaseConfig":{"type":"object","properties":{"dbVendor":{"type":"string"},"dbName":{"type":"string"},"dbSchema":{"type":"string"},"dbUserName":{"type":"string"},"dbPassword":{"type":"string"},"connectionUrl":{"type":"string"}}},"Environment":{"type":"object","properties":{"tenantId":{"type":"string"},"domainId":{"type":"string"}}},"Message":{"type":"object","properties":{"environment":{"$ref":"#/components/schemas/Environment"},"database":{"$ref":"#/components/schemas/DatabaseConfig"},"configuration":{"$ref":"#/components/schemas/Configuration"},"auditLogId":{"type":"integer","format":"int32"}}},"PageResponseMessage":{"type":"object","properties":{"status":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Message"}},"page":{"$ref":"#/components/schemas/SimplePage"}}},"SimplePage":{"type":"object","properties":{"pageSize":{"type":"integer","format":"int32"},"pageOffset":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"currentPageNumber":{"type":"integer","format":"int32"}}},"DataResponseLong":{"type":"object","properties":{"status":{"type":"string"},"data":{"type":"integer","format":"int64"}}},"DataResponseListEvents":{"type":"object","properties":{"status":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Events"}}}},"Events":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"eventType":{"type":"integer","format":"int32"},"domainId":{"type":"string"},"customMetadataId":{"type":"string"},"eventTime":{"type":"string","format":"date-time"},"lastUpdateTime":{"type":"string","format":"date-time"},"processingState":{"type":"integer","format":"int32"},"eventMetadata":{"type":"string"},"customMetadata":{"type":"string"}}},"DataResponseListEmailevent":{"type":"object","properties":{"status":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Emailevent"}}}},"Emailevent":{"type":"object","properties":{"eventId":{"type":"integer","format":"int64"},"connectorType":{"type":"string"},"custMetadataId":{"type":"string"},"domainId":{"type":"string"},"eventDate":{"type":"string","format":"date-time"},"eventType":{"type":"string"},"jobId":{"type":"string"},"lastUpdateTime":{"type":"string","format":"date-time"},"processingState":{"type":"integer","format":"int32"},"tenantId":{"type":"string"},"trackerId":{"type":"string"},"eventRef":{"type":"string"},"eventStatus":{"type":"string"}}},"ConfigType":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"configName":{"type":"string"},"autoConfig":{"type":"boolean"},"createdby":{"type":"string"},"creationtime":{"type":"string","format":"date-time"},"lastupdatedby":{"type":"string"},"lastupdatedtime":{"type":"string","format":"date-time"}}},"EditableConfig":{"type":"object","properties":{"configType":{"$ref":"#/components/schemas/ConfigType"},"enabled":{"type":"boolean"}}},"ListResponseEditableConfig":{"type":"object","properties":{"status":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/EditableConfig"}}}},"GenericResponse":{"type":"object","properties":{"status":{"type":"string"}}}}}}