{"openapi":"3.0.1","info":{"title":"Exstream External Event Puller","description":"**For internal use of the product only**","version":"v1"},"servers":[{"url":"https://vm-exstreamna1.eimdemo.com/eep","description":"service frontend url"}],"tags":[{"name":"setting-types-controller"},{"name":"settings-controller"}],"paths":{"/api/v1/tenants/{tenantId}/schema":{"put":{"tags":["tenant-admin-controller"],"operationId":"updateTenantSchema","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}}},"/api/v1/tenants/updateTenant":{"put":{"tags":["tenant-admin-controller"],"operationId":"updateTenant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTenantBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}}},"/api/v1/tenants/all/schema":{"put":{"tags":["tenant-admin-controller"],"operationId":"updateTenantSchemas","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponseTenant"}}}}}}},"/api/v1/settings":{"get":{"tags":["settings-controller"],"summary":"Retrieve all settings for a tenant or a specific domain","description":"Retrieve settings","operationId":"retrieveSettings","parameters":[{"name":"domainId","in":"query","description":"domain for which settings must be retrieved","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseSettings"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseSettings"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseSettings"}}}}}},"put":{"tags":["settings-controller"],"summary":"Save a list of settings in domains","description":"Save settings","operationId":"saveSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetttingsList"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseSettings"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseSettings"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseSettings"}}}}}},"delete":{"tags":["settings-controller"],"summary":"Delete settings by either setting id or domain id, atleast one of the values should be passed for delete call. If setting id value is passed, domain id value will be ignored and setting will be deleted based on setting id","description":"Delete settings by setting id or domain id","operationId":"deleteSettingsByIdOrDomainId_1","parameters":[{"name":"id","in":"path","description":"id of the setting to be deleted","required":true,"schema":{"type":"string"}},{"name":"domainId","in":"query","description":"domain for which settings must be deleted","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}},"/api/v1/tenants/{tenantId}":{"get":{"tags":["tenant-admin-controller"],"operationId":"getTenant","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}},"post":{"tags":["tenant-admin-controller"],"operationId":"createTenantSchema","parameters":[{"name":"tenantId","in":"path","required":true,"schema":{"maxLength":40,"minLength":1,"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}}},"/api/v1/tenants/addTenant":{"post":{"tags":["tenant-admin-controller"],"operationId":"createTenantWithExistingSchema","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTenantBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenant"}}}}}}},"/api/v1/secrets/migrateVault":{"post":{"tags":["secrets-controller"],"summary":"Migrate secrets to vault.","operationId":"migrateVault","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/api/v1/version/api":{"get":{"tags":["version-controller"],"operationId":"getApiVersion","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/v1/version":{"get":{"tags":["version-controller"],"operationId":"getVersion","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionConfig"}}}}}}},"/api/v1/tenants":{"get":{"tags":["tenant-admin-controller"],"operationId":"getTenants","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponseTenant"}}}}}}},"/api/v1/tenants/configuration":{"get":{"tags":["tenant-admin-controller"],"operationId":"getTenantConfiguration","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseTenantsConfiguration"}}}}}}},"/api/v1/setting-types":{"get":{"tags":["setting-types-controller"],"summary":"Retrieve all setting types","description":"Retrieve setting types","operationId":"retrieveSettingTypes","parameters":[{"name":"loadSettings","in":"query","description":"Flag to decide if associated settings must be loaded. Allowed values are true/false. Default value is false.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseSettingType"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseSettingType"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListResponseSettingType"}}}}}}},"/api/v1/setting-types/{typeId}":{"get":{"tags":["setting-types-controller"],"summary":"Retrieve a specific setting type","description":"Retrieve a setting type","operationId":"retrieveSettingType","parameters":[{"name":"typeId","in":"path","description":"Setting type to retrieve. Allowed values are OTN, CORE_SIGNATURE.","required":true,"schema":{"type":"string"}},{"name":"loadSettings","in":"query","description":"Flag to decide if associated settings must be loaded. Allowed values are true/false. Default value is false.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseSettingType"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseSettingType"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponseSettingType"}}}}}}},"/api/v1/settings/{id}":{"delete":{"tags":["settings-controller"],"summary":"Delete settings by either setting id or domain id, atleast one of the values should be passed for delete call. If setting id value is passed, domain id value will be ignored and setting will be deleted based on setting id","description":"Delete settings by setting id or domain id","operationId":"deleteSettingsByIdOrDomainId","parameters":[{"name":"id","in":"path","description":"id of the setting to be deleted","required":true,"schema":{"type":"string"}},{"name":"domainId","in":"query","description":"domain for which settings must be deleted","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenericResponse"}}}}}}}},"components":{"schemas":{"DataResponseTenant":{"type":"object","properties":{"status":{"type":"string"},"data":{"$ref":"#/components/schemas/Tenant"}}},"Schema":{"type":"object","properties":{"schemaId":{"type":"string"},"latestSchemaChangeLogEntry":{"$ref":"#/components/schemas/SchemaChangeLogEntry"},"schemaMissingFromDatabase":{"type":"boolean"}}},"SchemaChangeLogEntry":{"type":"object","properties":{"id":{"type":"string"},"dateExecuted":{"type":"string","format":"date-time"},"orderExecuted":{"type":"integer","format":"int32"},"liquiBaseVersion":{"type":"string"}}},"Tenant":{"type":"object","properties":{"tenantId":{"type":"string"},"schema":{"$ref":"#/components/schemas/Schema"}}},"CreateTenantBody":{"required":["dbPassword"],"type":"object","properties":{"tenantId":{"maxLength":40,"minLength":1,"type":"string"},"schemaName":{"type":"string"},"dbUserId":{"type":"string"},"dbPassword":{"type":"string"}}},"ListResponseTenant":{"type":"object","properties":{"status":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Tenant"}}}},"Settings":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"domainId":{"type":"string"},"type":{"type":"string","enum":["UNKNOWN","ALL","OTN","CORE_SIGNATURE"]},"settingDetails":{"type":"object","additionalProperties":{"type":"string"}},"modifiedBy":{"type":"string"},"modifiedTime":{"type":"string","format":"date-time"}}},"SetttingsList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Settings"}}}},"ListResponseSettings":{"type":"object","properties":{"status":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Settings"}}}},"Details":{"type":"object","properties":{"git":{"$ref":"#/components/schemas/GitConfig"},"appName":{"type":"string"},"buildNumber":{"type":"string"},"timestamp":{"type":"string"}}},"GitConfig":{"type":"object","properties":{"tag":{"type":"string"},"hash":{"type":"string"},"branch":{"type":"string"},"commits":{"type":"string"}}},"VersionConfig":{"type":"object","properties":{"apiIdentifier":{"type":"string"},"clientVersion":{"type":"string"},"details":{"$ref":"#/components/schemas/Details"},"major":{"type":"string"},"minor":{"type":"string"},"patch":{"type":"string"},"versionString":{"type":"string"}}},"DataResponseTenantsConfiguration":{"type":"object","properties":{"status":{"type":"string"},"data":{"$ref":"#/components/schemas/TenantsConfiguration"}}},"TenantsConfiguration":{"type":"object","properties":{"autoSchemaManagement":{"type":"boolean"}}},"ListResponseSettingType":{"type":"object","properties":{"status":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/SettingType"}}}},"SettingType":{"type":"object","properties":{"settings":{"type":"array","items":{"$ref":"#/components/schemas/Settings"}},"type":{"type":"string"}}},"DataResponseSettingType":{"type":"object","properties":{"status":{"type":"string"},"data":{"$ref":"#/components/schemas/SettingType"}}},"GenericResponse":{"type":"object","properties":{"status":{"type":"string"}}}}}}